.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}


.c0{
  grid-column: 1 / span 2;
}

.c1{
  grid-column: 1 / span 2;
}

.c4{
  grid-column: 1 / span 2;
}

.c7{
  grid-column: 1 / span 2;
}



.grid-layout-calculadora{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  width: 320px;
  border: 1px solid grey;
  background-color: grey;
}


.boton-calculadora{
  width: auto;
  height: auto;
  //margin: 5px;
  //background-color: yellow;
}

.pantalla{
  grid-column: 1 / span 5;
}

.filaGrado{
  grid-column: auto / span 3;
}