

//evitamos las imagenes de fondo en cards... no quedan bien
.caja-fondo-dados{
  // background: url("/fondo_dados.jpg") no-repeat;
  // background-position: center;
  // background-size: cover;
  // width: 100%;
}
.caja-fondo-moneda{
  // background: url("/moneda.png") no-repeat;
  // background-position: center;
  // background-size: cover;
  // width: 100%;
}

.grid-layout{
  display: grid;
  //grid-template-columns: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}


// .c0{
//   grid-column: 1 / span 2;
// }

// .c1{
//   grid-column: 1 / span 2;
// }

// .c4{
//   grid-column: 1 / span 2;
// }

// .c7{
//   grid-column: 1 / span 2;
// }



.grid-layout-calculadora{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  width: 320px;
  border: 1px solid grey;
  background-color: grey;
}


.boton-calculadora{
  width: auto;
  height: auto;
  //margin: 5px;
  //background-color: yellow;
}

.pantalla{
  grid-column: 1 / span 5;
}

.filaGrado{
  grid-column: auto / span 3;
}