


<h1>Generadores de jpromocion</h1>


<div class="panelFluidoSegundoNivel">
  <section>
    <h3>Versión</h3>
    <div>
      <p style="margin-left: 5px;">v.{{ version }}</p>
    </div>
  </section>
  <br/>
  <section>
    <h3>GitHub</h3>
    <div>
      <img src="/github-mark-white.png" alt="GitHub" style="width: 24px; height: 24px; vertical-align: middle; margin-right: 5px;">
      <a href="https://github.com/jpromocion/angular-j-generadores-fe2" target="_blank">GitHub fuentes</a>
    </div>
  </section>

</div>

<br/>
<br/>

<h1>Autor</h1>
<div class="panelFluidoSegundoNivel">
  <h2>Jose Javier Gálvez Gómez (jpromocion)</h2>

  <img style="align:center;vertical-align: middle;width: 200px;height: 200px;border-radius: 50%;" src="/zapp_blanco.jpg" alt="logo">

  <br/>

  <h2>Información de contacto</h2>

  <div tabindex="-1">
    <div class="panelFluidoSegundoNivel">
      <section>
        <h3>LinkedIn</h3>
        <div>
          <img src="/LI-In-Bug.png" alt="GitHub" style="width: 24px; height: 24px; vertical-align: middle; margin-right: 5px;">
          <a href="https://www.linkedin.com/in/josejgalvez" target="_blank" >
          linkedin.com/in/josejgalvez
          </a>
        </div>
      </section>
      <br/>
      <section>
        <h3>GitHub</h3>
        <div>
          <img src="/github-mark-white.png" alt="GitHub" style="width: 24px; height: 24px; vertical-align: middle; margin-right: 5px;">
          <a href="https://github.com/jpromocion"  target="_blank">
            github.com/jpromocion
          </a>
        </div>
      </section>
      <br/>
      <section>
        <h3>Enviar email</h3>
        <div>
          <mat-icon>mail</mat-icon>
          <a href="mailto:jpromocion@gmail.com" target="_blank" style="margin-left: 5px;">
            jpromocion&#64;gmail.com
          </a>
        </div>
      </section>
    </div>
  </div>
</div>