

<div class="seccionCentrada">
    <h1>Generadores de jpromocion</h1>

    <h3>FrontEnd Angular</h3>
    <div>
      <p>Versión v.{{ versionApp }}</p>
    </div>

    <div class="wrapperLogo">
      <div class="icon github">
          <div class="tooltip">
              Github
          </div>
          <span><a href="https://github.com/jpromocion/angular-j-generadores-fe2" target="_blank"><img src="/github-mark-white.png" alt="GitHub" /></a>
          </span>
      </div>
      <div class="efectoCircular" style="margin: 10px;">
        <a href="https://github.com/jpromocion/angular-j-generadores-fe2" target="_blank">angular-j-generadores-fe2</a>
      </div>
    </div>

    <br/>
    <br/>

    <h3>API REST Backend</h3>
    <div>
      <p>Versión {{ versionApiRest }}</p>
    </div>

    <div class="wrapperLogo">
      <div class="icon github">
          <div class="tooltip">
              Github
          </div>
          <span><a href="https://github.com/jpromocion/rest-j-generadores" target="_blank"><img src="/github-mark-white.png" alt="GitHub" /></a>
          </span>
      </div>
      <div class="efectoCircular" style="margin: 10px;">
        <a href="https://github.com/jpromocion/rest-j-generadores" target="_blank">rest-j-generadores</a>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <h1>Autor</h1>

    <h2>Jose Javier Gálvez Gómez (jpromocion)</h2>

    <div class="neon">
      <!--
      <span></span><span></span>
      <span></span><span></span>
      -->
      <img src="/zapp_blanco.jpg" alt="logo">
    </div>

    <h2>Información de contacto</h2>

    <div>
        <h3>LinkedIn</h3>
        <div class="wrapperLogo">
          <div class="icon linkedin">
              <div class="tooltip">
                LinkedIn
              </div>
              <span><a href="https://www.linkedin.com/in/josejgalvez" target="_blank"><img src="/linkedin_blanco.png" alt="Linkedin" /></a>
              </span>
          </div>
          <div class="efectoCircular" style="margin: 10px;">
            <a href="https://www.linkedin.com/in/josejgalvez" target="_blank" >linkedin.com/in/josejgalvez</a>
          </div>
        </div>

        <br/>
        <br/>

        <h3>GitHub</h3>
        <div class="wrapperLogo">
          <div class="icon github">
              <div class="tooltip">
                  Github
              </div>
              <span><a href="https://github.com/jpromocion" target="_blank"><img src="/github-mark-white.png" alt="GitHub" /></a>
              </span>
          </div>
          <div class="efectoCircular" style="margin: 10px;">
            <a href="https://github.com/jpromocion"  target="_blank">github.com/jpromocion</a>
          </div>
        </div>

        <br/>
        <br/>

        <h3>Enviar email</h3>
        <div>
          <div class="wrapperLogo">
            <div class="icon email">
                <div class="tooltip">
                    Email
                </div>
                <span>
                  <a href="mailto:jpromocion@gmail.com" target="_blank">
                    <!--<mat-icon>mail</mat-icon>-->
                    <img src="/sobre2.png" alt="Email" />
                  </a>
                </span>
            </div>
            <div class="efectoCircular" style="margin: 10px;">
              <a href="mailto:jpromocion@gmail.com" target="_blank" style="margin-left: 5px;">jpromocion&#64;gmail.com</a>
            </div>
          </div>

        </div>

    </div>

</div>


