
@use '../../styles' as stylesGeneral;

/** wrapperLogo: encerramos una estructura donde configuremos un tooltip personalizado por css */
//wrapperLogo: encerramos una estructura donde configuremos un tooltip personalizado por css
//que aparece por transiccion al situarnos sobre el campo mostrando el nombre de la red social
//y haciendo cambiar el color del icono y del tooltip a un color semejante a la red social.
.wrapperLogo {
  display: inline-flex;
  align-items: center;
}

.wrapperLogo .icon {
    //margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapperLogo .icon span {
    display: block;
    height: 60px;
    width: 60px;
    //background: #fff;
    background: black;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px stylesGeneral.$color-lila-base-menu;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapperLogo .icon span i {
    line-height: 60px;
    font-size: 25px;
}

.wrapperLogo .icon span img {
  line-height: 60px;
  font-size: 25px;
  text-align: center;
  align-items: center;
  display: block;
  margin: auto;
  width: 40%;
  height: 40%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.wrapperLogo .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px stylesGeneral.$color-lila-base-menu;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapperLogo .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrapperLogo .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.wrapperLogo .icon:hover span {
    color: #fff;
}
.wrapperLogo .icon:hover span,
.wrapperLogo .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}



// .wrapperLogo .facebook:hover span,
// .wrapperLogo .facebook:hover .tooltip,
// .wrapperLogo .facebook:hover .tooltip:before {
//     background: #3B5999;
// }

// .wrapperLogo .twitter:hover span,
// .wrapperLogo .twitter:hover .tooltip,
// .wrapperLogo .twitter:hover .tooltip:before {
//     background: #46C1F6;
// }

// .wrapperLogo .instagram:hover span,
// .wrapperLogo .instagram:hover .tooltip,
// .wrapperLogo .instagram:hover .tooltip:before {
//     background: #e1306c;
// }

.wrapperLogo .github:hover span,
.wrapperLogo .github:hover .tooltip,
.wrapperLogo .github:hover .tooltip:before {
    background: #333;
}

// .wrapperLogo .youtube:hover span,
// .wrapperLogo .youtube:hover .tooltip,
// .wrapperLogo .youtube:hover .tooltip:before {
//     background: #DE463B;
// }

.wrapperLogo .linkedin:hover span,
.wrapperLogo .linkedin:hover .tooltip,
.wrapperLogo .linkedin:hover .tooltip:before {
    background: #0e76a8;
}

.wrapperLogo .email:hover span,
.wrapperLogo .email:hover .tooltip,
.wrapperLogo .email:hover .tooltip:before {
    background: rgb(214, 213, 213);
}

/** FIN wrapperLogo: encerramos una estructura donde configuremos un tooltip personalizado por css */





/** efectoCircular: Buscamos que los enlaces del about, tengan un efecto de fondo sobre un gradiente que va cambiando de color */
.efectoCircular a{
  position: relative; //es lo que hace que el gradiente se fije solo al enlace
  padding: 5px 5px;
  color: white; //por defecto en enlace la letra es un rosa... se confunde con los colores del gradiente
}
//definimos un elemento detras (z-index: -1) del enlace que sera el gradiente en si
//de contenido vacio, posicion absoluta para coger el tamaño del a
.efectoCircular a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffabf3, #5b005b); //se define el gradiente linear y los colores por los que pasara
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px); //filtro desenfoque
  animation: glowing 20s linear infinite; //animacion que utiilizara, se creara
}

//animacion definda
@keyframes glowing {
  0% { background-position: 0 0; } //posicion inicial
  50% { background-position: 400% 0; } //a mitad de animacion la posicion sera 400% para que se vea el cambio de color
  100% { background-position: 0 0; } //al final de la animacion volvera a la posicion inicial
}
/** FIN efectoCircular: Buscamos que los enlaces del about, tengan un efecto de fondo sobre un gradiente que va cambiando de color */









/** neon: efecto de neon en el icoino central de futurama */
.neon {
  position: relative;
  display: inline-block;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  width: 250px;
  height: 230px;
  //margin-right: 50px;
  border-radius: 12%;
  //background: #bb77fa;
  margin-bottom: 100px;
}

.neon img {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 12%;
  //sombrear de negro la parte inferior para evitar cortes... no es necesario
  //mask-image: linear-gradient(black 80%, transparent);
  box-shadow: 0px 10px 10px stylesGeneral.$color-lila-base-menu;
  //hacemos que la imagen este en gris... hasta que nos situemos sobre ella
  filter: grayscale(100%);
}

.neon img:hover {
  filter: grayscale(0%);
}

.neon:hover {
  background: stylesGeneral.$color-lila-base-menu;
  color: #050801;
  //fuerza una sombra en este color progresiva apagandose conforme se aleja... un efecto neon chulo
  box-shadow: 0 0 5px stylesGeneral.$color-lila-base-menu,
      0 0 25px stylesGeneral.$color-lila-base-menu,
      0 0 50px stylesGeneral.$color-lila-base-menu,
      0 0 200px stylesGeneral.$color-lila-base-menu;
  //crea un reflejo en la parte inferior
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

// Esto seriqa si tuivieras varios elementos y quisieras ir cambiadno el color del neon en cada uno de ellos rotativamente
// .neon:nth-child(1) {
//   filter: hue-rotate(270deg);
// }
// .neon:nth-child(2) {
//   filter: hue-rotate(110deg);
// }


//permite definir 4 lineas formando un cuadrado alrededor que tendrán una transicion de linea dinamica
//una detras de otra. Pero para ello, seria necesario que fuera un cuadrado, al final lo hicimos redondo!!!
//y tambien tener los 4 span que al final hemos comentado
/*
.neon span {
  position: absolute;
  display: block;
}
.neon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #bb77fa);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
      left: -100%;
  }

  50%,
  100% {
      left: 100%;
  }
}
.neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,
          transparent, #bb77fa);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
      top: -100%;
  }

  50%,
  100% {
      top: 100%;
  }
}
.neon span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #bb77fa);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3 {
  0% {
      right: -100%;
  }

  50%,
  100% {
      right: 100%;
  }
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #bb77fa);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
      bottom: -100%;
  }

  50%,
  100% {
      bottom: 100%;
  }
}
*/
/** FIN neon: efecto de neon en el icoino central de futurama */



/** COMPARTIR REDES SOCIALES COMBO APERTURA GLOW */
.card-social-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.card-social-share-btn {
  position: absolute;
  display: flex;
  cursor: pointer;
  align-items: center;
  //background-color: #fff;
  background-color: black;
  //color: black;
  color: white;
  //border: 1px solid rgba(128, 128, 128, 0.705);
  border-radius: 50%;
  transition: .2s ease-in-out;
  scale: .8;
  padding: 10px;
  width: 30px;
  height: 30px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 10px stylesGeneral.$color-lila-base-menu;
}


.card-social-share-btn:hover {
  background: #f1f1f1;
  scale: .9;
}

.card-social-up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card-social-down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card-social-card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  //background: white;
  background: stylesGeneral.$color-lila-texto-menu;
  border-radius: 90px 5px 5px 5px;
  //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: stylesGeneral.$color-lila-base-menu 0px 2px 5px -1px, stylesGeneral.$color-lila-base-menu 0px 1px 3px -1px;
  transition: 300ms cubic-bezier(0.73, -0.18, 0.02, 1.46);
}

// .card-social-instagram {
//   margin-top: 1.5em;
//   margin-left: 1.2em;
//   fill: #cc39a4;
// }
.card-social-linkedin {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #0e76a8;
}

.card-social-card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  //background: white;
  background: stylesGeneral.$color-lila-texto-menu;
  border-radius: 5px 90px 5px 5px;
  //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: stylesGeneral.$color-lila-base-menu 0px 2px 5px -1px, stylesGeneral.$color-lila-base-menu 0px 1px 3px -1px;
  transition: 300ms cubic-bezier(0.76, -0.19, 0.15, 1.17);
}


.card-social-github {
  // margin-top: -.6em;
  // margin-left: 1.2em;
  margin-top: 1.5em;
  margin-left: -.9em;
}


.card-social-card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  //background: white;
  background: stylesGeneral.$color-lila-texto-menu;
  border-radius: 5px 5px 5px 90px;
  //box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: stylesGeneral.$color-lila-base-menu 0px 2px 5px -1px, stylesGeneral.$color-lila-base-menu 0px 1px 3px -1px;
  transition: 300ms cubic-bezier(0.72,-0.26, 0.02, 1.46);
}

// .card-social-twitter {
//   // margin-top: 1.5em;
//   // margin-left: -.9em;
//   margin-top: -.6em;
//   margin-left: 1.2em;
//   fill: #03A9F4;
// }
.card-social-email {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card-social-card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  //background: white;
  background: stylesGeneral.$color-lila-texto-menu;
  border-radius: 5px 5px 90px 5px;
  //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: stylesGeneral.$color-lila-base-menu 0px 2px 5px -1px, stylesGeneral.$color-lila-base-menu 0px 1px 3px -1px;
  transition: 300ms cubic-bezier(1, -0.31, 0.02, 1.46);

}

.card-social-discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card-social-card1[data-toggle1="true"] {
  transform: translateY(50px) translateX(60px) scale(0);
}

.card-social-card2[data-toggle2="true"] {
  transform: translateY(50px) translateX(-60px) scale(0);
}

.card-social-card3[data-toggle3="true"] {
  transform: translateY(-50px) translateX(60px) scale(0);
}

.card-social-card4[data-toggle4="true"] {
  transform: translateY(-50px) translateX(-60px) scale(0);
}


.card-social-card1:hover {
  cursor: pointer;
  scale: 1.1;
  //background-color: #cc39a4;
  background-color: #0e76a8;
}

// .card-social-card1:hover .card-social-instagram {
//   fill: white;
// }
.card-social-card1:hover .card-social-linkedin {
  fill: white;
}

.card-social-card2:hover {
  cursor: pointer;
  scale: 1.1;
  //background-color: #03A9F4;
  background-color: rgb(39, 39, 39);
}

// .card-social-card2:hover .card-social-twitter {
//   fill: white;
// }
.card-social-card2:hover .card-social-email {
  fill: white;
}

.card-social-card3:hover {
  cursor: pointer;
  scale: 1.1;
  //background-color: #03A9F4;
  background-color: rgb(167, 167, 167);
}

.card-social-card3:hover .card-social-github {
  fill: white;
}

.card-social-card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card-social-card4:hover .card-social-discord {
  fill: white;
}

/** FIN COMPARTIR REDES SOCIALES COMBO APERTURA GLOW */