<h2 class="tracking-in-expand">{{ 'generadores.jpromocion.qrbarras.titulo' | translate }}</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">

  <div class="grid-layout">


    <div class="caja c0">
      <mat-form-field style="width: 200px !important;">
        <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.ancho.label' | translate }}</mat-label>
        <input matInput id="ancho" type="number"  [(ngModel)]="ancho">
        <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.ancho.tooltip' | translate }}">help</mat-icon>
      </mat-form-field>

      <mat-form-field style="width: 200px !important;margin-left: 5px;">
        <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.alto.label' | translate }}</mat-label>
        <input matInput id="alto" type="number"  [(ngModel)]="alto">
        <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.alto.tooltip' | translate }}">help</mat-icon>
      </mat-form-field>

    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c1">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.qrbarras.frame.qr' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.qr.parrafo1' | translate }}</em></small></p>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.qr.parrafo2' | translate }}</em></small></p>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.qr.parrafo3' | translate }}</em></small></p>

          <mat-form-field style="width: 100% !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.label' | translate }}</mat-label>
            <textarea matInput id="qrBarcode" type="text" [(ngModel)]="qrBarcode" rows="3">
            </textarea>
          </mat-form-field>

          <div>
            <mat-form-field style="width: 35% !important;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.textoqrsup.label' | translate }}</mat-label>
              <input matInput id="qrTextoTop" type="text"  [(ngModel)]="qrTextoTop">
              <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.textoqrsup.tooltip' | translate }}">help</mat-icon>
            </mat-form-field>

            <mat-form-field style="width: 35% !important;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.textoqrinf.label' | translate }}</mat-label>
              <input matInput id="qrTextoBottom" type="text"  [(ngModel)]="qrTextoBottom">
              <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.textoqrinf.tooltip' | translate }}">help</mat-icon>
            </mat-form-field>

            <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarQr()"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>refresh</mat-icon>
            </button>

            <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="imagenQr != ''"
              style="margin-left: 5px;" (click)="onClickLimpiarQr()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div>
            <img [@entradaLateralAnimation] *ngIf="imagenQr != ''" src="{{imagenQr}}" alt="{{ 'generadores.jpromocion.qrbarras.salida.imagengenerada.alt' | translate }}">
          </div>


        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.qrbarras.frame.pdf417' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.147.parrafo1' | translate }}</em></small></p>
          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.147.parrafo2' | translate }}</em></small></p>

          <mat-form-field style="width: 70% !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.label' | translate }}</mat-label>
            <textarea matInput id="pdf147Barcode" type="text" [(ngModel)]="pdf147Barcode" rows="3">
            </textarea>
          </mat-form-field>

          <button type="button"  mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarPdf147()"
          matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="imagenPdf147 != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarPdf147()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <img [@entradaLateralAnimation] *ngIf="imagenPdf147 != ''" src="{{imagenPdf147}}" alt="{{ 'generadores.jpromocion.qrbarras.salida.imagengenerada.alt' | translate }}">
          </div>


        </mat-card-content>
      </mat-card>
    </div>



    <div class="caja c3">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.qrbarras.frame.ean13' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.ean13.parrafo1' | translate }}</em></small></p>
          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.ean13.parrafo2' | translate }}</em></small></p>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.label' | translate }}</mat-label>
            <input matInput id="eanBarcode" type="text"  placeholder="0123456789012" [(ngModel)]="eanBarcode">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.tooltip_ean13' | translate }}">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarEan()"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="imagenEan != ''"
            style="margin-left: 5px;"  (click)="onClickLimpiarEan()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <img [@entradaLateralAnimation] *ngIf="imagenEan != ''" src="{{imagenEan}}" alt="{{ 'generadores.jpromocion.qrbarras.salida.imagengenerada.alt' | translate }}">
          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c4">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.qrbarras.frame.code128' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.code128.parrafo1' | translate }}</em></small></p>
          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.code128.parrafo2' | translate }}</em></small></p>

          <mat-form-field style="width: 500px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.label' | translate }}</mat-label>
            <input matInput id="code128Barcode" type="text"  placeholder="CODE128" [(ngModel)]="code128Barcode">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.tooltip_128' | translate }}">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarCode128()"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="imagenCode128 != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarCode128()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <img [@entradaLateralAnimation] *ngIf="imagenCode128 != ''" src="{{imagenCode128}}" alt="{{ 'generadores.jpromocion.qrbarras.salida.imagengenerada.alt' | translate }}">
          </div>


        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c5">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.qrbarras.frame.upca' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.upca.parrafo1' | translate }}</em></small></p>
          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.upca.parrafo2' | translate }}</em></small></p>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.label' | translate }}</mat-label>
            <input matInput id="upcABarcode" type="text"  placeholder="123456789012" [(ngModel)]="upcABarcode">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.tooltip_upca' | translate }}">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarUpcA()"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="imagenUpcA != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarUpcA()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <img [@entradaLateralAnimation] *ngIf="imagenUpcA != ''" src="{{imagenUpcA}}" alt="{{ 'generadores.jpromocion.qrbarras.salida.imagengenerada.alt' | translate }}">
          </div>


        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c6">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.qrbarras.frame.upce' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.qrbarras.textosfijos.upce.parrafo1' | translate }}</em></small></p>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.label' | translate }}</mat-label>
            <input matInput id="upcEBarcode" type="text"  placeholder="12345678" [(ngModel)]="upcEBarcode">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.qrbarras.entrada.valorcodificar.tooltip_upce' | translate }}">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;"  (click)="onClickBotonGenerarUpcE()"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="imagenUpcE != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarUpcE()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <img [@entradaLateralAnimation] *ngIf="imagenUpcE != ''" src="{{imagenUpcE}}" alt="{{ 'generadores.jpromocion.qrbarras.salida.imagengenerada.alt' | translate }}">
          </div>


        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
