//evitamos las imagenes de fondo en cards... no quedan bien
.caja-fondo-coche{
  // background: url("/coche.png") no-repeat;
  // background-position: center;
  // background-size: cover;
  // width: 100%;
}

.grid-layout{
  display: grid;
  //grid-template-columns: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}

