<h2 class="tracking-in-expand">Vehículos</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">

  <div class="grid-layout">

    <div class="caja c0">
      <mat-form-field style="width: 250px !important;">
        <mat-label>Num. generaciones</mat-label>
        <input matInput id="numGenera" type="number"  min="2" max="1000" placeholder="Número de generaciones" [(ngModel)]="numGenerar">
      </mat-form-field>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c1">
      <mat-card appearance="outlined" class="caja-fondo-coche">
        <mat-card-header>Generar Vehículo</mat-card-header>
        <mat-card-content class="caja-desenfocada">
          <!-- cambiamos a autocompletado -> ver detalles en variados -> seleccionar tipo generacion
          <mat-form-field style="width: 330px;margin-left: 5px;">
            <mat-label>Seleccionar tipo generación</mat-label>
            <mat-select [(ngModel)]="selectedTipoGenera">
              @for (tipo of tiposGenera; track tipo) {
                <mat-option [value]="tipo.valor">{{tipo.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          -->
          <form>
            <mat-form-field style="width: 280px;margin-left: 5px;">
              <mat-label>Seleccionar tipo generación</mat-label>
              <input #selectedTipoGeneraIn matInput type="text"
                placeholder="Seleccionar ..."
                [matAutocomplete]="auto"
                [formControl]="selectedTipoGeneraFC"
                (input)="filterTiposGenera()"
                (focus)="filterTiposGenera()">
              <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayTiposGenera">
                @for (tipo of tiposGeneraFiltrado; track tipo) {
                  <mat-option [value]="tipo">{{tipo.nombre}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" aria-label="Generar caracteres" (click)="onClickBotonGenerarTexto()"
            matTooltip="Pulsar para generar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation]
            *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" aria-label="Limpiar resultado" (click)="onClickLimpiarTexto()"
            matTooltip="Pulsar para limpiar los caracteres" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation]
            *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" aria-label="Exportar a Excel" (click)="exportJsonTipos()"
            matTooltip="Pulsar para exportar excel" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="textoGenerado?.length && textoGenerado.length > 0" >
            @for (texto of textoGenerado; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="Pulsar para copiar" matTooltipPosition="below">
                    <span class="nif">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>Validar Bastidor</mat-card-header>
        <mat-card-content>
          <div class="divBox">
            <mat-form-field style="width: 300px !important;">
              <mat-label>Bastidor a comprobar</mat-label>
              <input matInput id="bastidorValidar" type="text" placeholder="2GDF4C11981518224" [(ngModel)]="bastidorValidar"
                style="text-transform:uppercase" maxlength="40">
            </mat-form-field>
            <button type="button" mat-fab class="botonRotatorio" aria-label="Validar un Bastidor" (click)="onClickValidarBastidor()"
              matTooltip="Pulsar para validar" matTooltipPosition="below" style="margin-left: 5px;">
              <mat-icon>search_check</mat-icon>
            </button>
            <div style="margin-left: 5px;">
              <button type="button" class="btn-success" [@encogimientoAnimation] *ngIf="bastidorValidarOk == 'OK'"
                matTooltip="Si" matTooltipPosition="below" (click)="onSelectDato('Si')">
                <mat-icon>done_all</mat-icon>
              </button>
              <button type="button" class="btn-danger" [@encogimientoAnimation] *ngIf="bastidorValidarOk == 'ERROR'"
                matTooltip="No" matTooltipPosition="below" (click)="onSelectDato('No')">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

</div>

