<h2 class="tracking-in-expand">{{ 'generadores.jpromocion.menu.vehiculos' | translate }}</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">

  <div class="grid-layout">

    <div class="caja c0">
      <mat-form-field style="width: 250px !important;">
        <mat-label>{{ 'generadores.jpromocion.generarcomunes.numgeneraciones.label' | translate }}</mat-label>
        <input matInput id="numGenera" type="number"  min="2" max="1000" [(ngModel)]="numGenerar">
      </mat-form-field>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c1">
      <mat-card appearance="outlined" class="caja-fondo-coche">
        <mat-card-header>{{ 'generadores.jpromocion.vehiculos.frame.generarvehiculo' | translate }}</mat-card-header>
        <mat-card-content class="caja-desenfocada">
          <!-- cambiamos a autocompletado -> ver detalles en variados -> seleccionar tipo generacion
          <mat-form-field style="width: 330px;margin-left: 5px;">
            <mat-label>Seleccionar tipo generación</mat-label>
            <mat-select [(ngModel)]="selectedTipoGenera">
              @for (tipo of tiposGenera; track tipo) {
                <mat-option [value]="tipo.valor">{{tipo.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          -->
          <form>
            <mat-form-field style="width: 280px;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.vehiculos.entrada.tipovehiculo.label' | translate }}</mat-label>
              <input #selectedTipoGeneraIn matInput type="text"
                placeholder="{{ 'generadores.jpromocion.vehiculos.entrada.tipovehiculo.placeholder' | translate }}"
                [matAutocomplete]="auto"
                [formControl]="selectedTipoGeneraFC"
                (input)="filterTiposGenera()"
                (focus)="filterTiposGenera()">
              <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayTiposGenera">
                @for (tipo of tiposGeneraFiltrado; track tipo) {
                  <mat-option [value]="tipo">{{tipo.nombre}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarTexto()"
            attr.aria-label="{{ 'generadores.jpromocion.vehiculos.boton.generarvehiculo.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation]
            *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarTexto()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation]
            *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" (click)="exportJsonTipos()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="textoGenerado?.length && textoGenerado.length > 0" >
            @for (texto of textoGenerado; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="nif">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.vehiculos.frame.validarbastidor' | translate }}</mat-card-header>
        <mat-card-content>
          <div class="divBox">
            <mat-form-field style="width: 300px !important;">
              <mat-label>{{ 'generadores.jpromocion.vehiculos.entrada.bastidor.label' | translate }}</mat-label>
              <input matInput id="bastidorValidar" type="text" placeholder="2GDF4C11981518224" [(ngModel)]="bastidorValidar"
                style="text-transform:uppercase" maxlength="40">
            </mat-form-field>
            <button type="button" mat-fab class="botonRotatorio" (click)="onClickValidarBastidor()"
              attr.aria-label="{{ 'generadores.jpromocion.vehiculos.boton.validarbastidor.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validar.tooltip' | translate }}" matTooltipPosition="below" style="margin-left: 5px;">
              <mat-icon>search_check</mat-icon>
            </button>
            <div style="margin-left: 5px;">
              <button type="button" class="btn-success" [@encogimientoAnimation] *ngIf="bastidorValidarOk == 'OK'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadook.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameSiInternacionalizado())">
                <mat-icon>done_all</mat-icon>
              </button>
              <button type="button" class="btn-danger" [@encogimientoAnimation] *ngIf="bastidorValidarOk == 'ERROR'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadoko.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameNoInternacionalizado())">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

</div>

