.caja-fondo-coche{
  background: url("/coche.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.grid-layout{
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}

