.grid-layout{
  display: grid;
  //grid-template-columns: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}

// .c0{
//   grid-column: 1 / span 2;
// }


// .c5{
//   grid-column: 1 / span 2;
// }

// .c6{
//   grid-column: 1 / span 2;
// }