.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}

.c0{
  grid-column: 1 / span 2;
}


.c5{
  grid-column: 1 / span 2;
}

.c6{
  grid-column: 1 / span 2;
}