<h2 class="tracking-in-expand">{{ 'generadores.jpromocion.menu.colores' | translate }}</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">


  <div class="grid-layout">

    <div class="caja c1">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.selector' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.selector.parrafo1' | translate }}</em></small></p>
          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.selector.parrafo2' | translate }}</em></small></p>

          <div class="grid-layout-selector">
            <div class="caja">

              <label>{{ 'generadores.jpromocion.colores.entrada.colorprincipal.label' | translate }}</label>
              <!-- NOTA: vamos a desactivar siempre el alpha... porque no tenemos preparados servicios para actuar con el en medio
              ... de hecho hay servicios que se van a encargar saturar... desaturar... aclarar... oscurecer... y no tienen en cuenta el alpha
              -->
              <span
                [style.background]="colorSele"
                [cpToggle]="true"
                [cpDialogDisplay]="'inline'"
                [(colorPicker)]="colorSele"
                [cpAlphaChannel]="'disabled'"
                (colorPickerChange)="colorSele=$event;seleccionarColor($event)">
              </span>
              <button mat-flat-button type="button" *ngIf="colorSele && colorSele != ''" (click)="onSelectDato(colorSele)"  style="margin-top: 5px;"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                <span class="color">{{colorSele}}</span>
              </button>
              <button mat-flat-button type="button" *ngIf="colorSeleRgb && colorSeleRgb != ''" (click)="onSelectDato(colorSeleRgb)"  style="margin-top: 5px; margin-left: 5px;"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                <span class="color">{{colorSeleRgb}}</span>
              </button>

            </div>

            <div class="caja">
              <label>{{ 'generadores.jpromocion.colores.entrada.colorsecundario.label' | translate }}</label>
              <span
                [style.background]="colorSele2"
                [cpToggle]="true"
                [cpDialogDisplay]="'inline'"
                [(colorPicker)]="colorSele2"
                [cpAlphaChannel]="'disabled'">
              </span>
              <button mat-flat-button type="button" *ngIf="colorSele2 && colorSele2 != ''" (click)="onSelectDato(colorSele2)"  style="margin-top: 5px;"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                <span class="color">{{colorSele2}}</span>
              </button>
            </div>

          </div>



        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.generar' | translate }}</mat-card-header>
        <mat-card-content>
          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonGenerarColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.generarcolor.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="color != ''"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <!-- <input [(colorPicker)]="color" [style.background]="color" [(colorPicker)]="color"/> -->
          <div [@entradaLateralAnimation] *ngIf="color != ''">
            <span
              [style.background]="color"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="color"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorObj"
            (click)="onSelectDato(colorObj.hex)"  style="margin-top: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{colorObj.hex}}</span>
          </button>
          <button mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorObj"
            (click)="onSelectDato(getColorRgb(colorObj))"  style="margin-top: 5px; margin-left: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{getColorRgb(colorObj)}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="grid-layout">


    <div class="caja c3">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.hexargb' | translate }}</mat-card-header>
        <mat-card-content>

          <mat-form-field style="width: 250px !important;margin-left: 5px;" >
            <mat-label>{{ 'generadores.jpromocion.colores.entrada.colorhexa.label' | translate }}</mat-label>
            <input matInput id="gradosValor" type="string"  placeholder="#f7557" [(ngModel)]="convertHexaParam">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.colores.entrada.colorhexa.tooltip' | translate }}">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;"  (click)="onClickBotonConvertirHexaRGB()"
          attr.aria-label="{{ 'generadores.jpromocion.numeros.boton.convertirgrados.label' | translate }}"
          matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.convertir.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>sync_alt</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="convertHexaRgb != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarConvertirHexaRGB()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <mat-form-field [@entradaLateralAnimation] *ngIf="convertHexaRgb != ''" style="width: 200px !important;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.colores.salida.rgb.label' | translate }}</mat-label>
              <input matInput id="convertHexaRgb" type="text" [(ngModel)]="convertHexaRgb" readonly="true" style="text-align: end;" (click)="onSelectDato(convertHexaRgb)">
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c4">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.rgbhexa' | translate }}</mat-card-header>
        <mat-card-content>

          <mat-form-field style="width: 100px !important;margin-left: 5px;" >
            <mat-label>{{ 'generadores.jpromocion.colores.entrada.colorrojo.label' | translate }}</mat-label>
            <input matInput id="gradosValor" type="number" placeholder="121" [(ngModel)]="convertRgbRojoParam">
          </mat-form-field>

          <mat-form-field style="width: 100px !important;margin-left: 5px;" >
            <mat-label>{{ 'generadores.jpromocion.colores.entrada.colorverde.label' | translate }}</mat-label>
            <input matInput id="gradosValor" type="number" placeholder="114" [(ngModel)]="convertRgbVerdeParam">
          </mat-form-field>

          <mat-form-field style="width: 100px !important;margin-left: 5px;" >
            <mat-label>{{ 'generadores.jpromocion.colores.entrada.colorazul.label' | translate }}</mat-label>
            <input matInput id="gradosValor" type="number" placeholder="182" [(ngModel)]="convertRgbAzulParam">
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;"  (click)="onClickBotonConvertirRGBHexa()"
          attr.aria-label="{{ 'generadores.jpromocion.numeros.boton.convertirgrados.label' | translate }}"
          matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.convertir.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>sync_alt</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="convertRgbHexa != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarConvertirRGBHexa()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <mat-form-field [@entradaLateralAnimation] *ngIf="convertRgbHexa != ''" style="width: 200px !important;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.colores.salida.hexadecimal.label' | translate }}</mat-label>
              <input matInput id="convertRgbHexa" type="text" [(ngModel)]="convertRgbHexa" readonly="true" style="text-align: end;" (click)="onSelectDato(convertRgbHexa)">
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c5">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.aclarar' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.aclarar.parrafo1' | translate }}</em></small></p>

          <mat-slider  style="width: 300px;" min="1" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="aclaraColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonAclararColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.aclarar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.aclarar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorAclarado != ''"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarAclararColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorAclarado != ''">
            <span
              [style.background]="colorAclarado"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorAclarado"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btColorAclarado" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorAclarado"
            (click)="onSelectDato(colorAclarado)"  style="margin-top: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{colorAclarado}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c6">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.oscurecer' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.oscurecer.parrafo1' | translate }}</em></small></p>

          <mat-slider  style="width: 300px;" min="1" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="oscureceColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonOscurecerColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.oscurecer.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.oscurecer.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorOscurecido != ''"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarOscurecerColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorOscurecido != ''">
            <span
              [style.background]="colorOscurecido"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorOscurecido"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btColorOscurecido" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorOscurecido"
            (click)="onSelectDato(colorOscurecido)"  style="margin-top: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{colorOscurecido}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="grid-layout">

    <div class="caja c7">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.matizar' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.matizar.parrafo1' | translate }}</em></small></p>

          <div class="grid-layout-transformacion">
            <div class="caja">
              <div>
                <label>{{ 'generadores.jpromocion.colores.entrada.matiz.label' | translate }}</label>
              </div>
              <mat-slider style="width: 200px;" min="-1" max="+1" step="0.01" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="matizColorCantidad">
              </mat-slider>
            </div>

            <div class="caja">
              <div>
                <label>{{ 'generadores.jpromocion.colores.entrada.saturacion.label' | translate }}</label>
              </div>
              <mat-slider style="width: 200px;" min="-1" max="+1" step="0.01" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="saturaColorCantidad">
              </mat-slider>
            </div>

            <div class="caja">
              <div>
                <label>{{ 'generadores.jpromocion.colores.entrada.brillo.label' | translate }}</label>
              </div>
              <mat-slider style="width: 200px;" min="0" max="100" step="1" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="brilloColorCantidad">
              </mat-slider>
            </div>

          </div>

          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonTransformarColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.matizar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.matizar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorTransformado != ''"
            style="margin-left: 5px; margin-bottom: 5px;"  (click)="onClickLimpiarTransformarColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorTransformado != ''">
            <span
              [style.background]="colorTransformado"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorTransformado"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btcolorTransformado" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorTransformado"
            (click)="onSelectDato(colorTransformado)"  style="margin-top: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{colorTransformado}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c8">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.invertir' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.invertir.parrafo1' | translate }}</em></small></p>

          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonInvertirColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.invertir.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.invertir.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorInvertir != ''"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarInvertirColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorInvertir != ''">
            <span
              [style.background]="colorInvertir"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorInvertir"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btcolorInvertir" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorInvertir"
            (click)="onSelectDato(colorInvertir)"  style="margin-top: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{colorInvertir}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c9">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.alpha' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.alpha.parrafo1' | translate }}</em></small></p>

          <mat-slider  style="width: 300px;" min="0" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="alphaColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio"  (click)="onClickBotonAlphaColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.alpha.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.alpha.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorAlphaHex != ''"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarAlphaColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorAlphaHex != ''">
            <span
              [style.background]="colorAlphaHex"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorAlphaHex"
              [cpAlphaChannel]="'always'">
            </span>
          </div>
          <button id="btcolorAlphaHex" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorAlphaHex"
            (click)="onSelectDato(colorAlphaHex)"  style="margin-top: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{colorAlphaHex}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c10">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.mezclar' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.mezclar.parrafo1' | translate }}</em></small></p>
          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.mezclar.parrafo2' | translate }}</em></small></p>

          <div>
            <label>{{ 'generadores.jpromocion.colores.entrada.porcintervienecolor.label' | translate }}</label>
          </div>
          <mat-slider style="width: 200px;" min="0" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="mezclaColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonMezclarColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.mezclar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.mezclar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorMezclado != ''"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarMezclarColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorMezclado != ''">
            <span
              [style.background]="colorMezclado"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorMezclado"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btcolorMezclado" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorMezclado"
            (click)="onSelectDato(colorMezclado)"  style="margin-top: 5px;"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
            <span class="color">{{colorMezclado}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c11">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.gradiente' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.gradiente.parrafo1' | translate }}</em></small></p>
          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.gradiente.parrafo2' | translate }}</em></small></p>

          <div>
            <label>{{ 'generadores.jpromocion.colores.entrada.numgradiente.label' | translate }}</label>
          </div>
          <mat-slider style="width: 80%;" min="1" max="500" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="gradienteCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonGradienteColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.gradiente.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.gradiente.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaGradiente?.length && listaGradiente.length > 0"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarGradienteColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaGradiente?.length && listaGradiente.length > 0"
            style="margin-left: 5px;"  (click)="exportJsonGradiente()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <div class="grid-layout-gradiente" [@entradaLateralAnimation] *ngIf="listaGradiente?.length && listaGradiente.length > 0">
            @for (colorGradiente of listaGradiente; track colorGradiente) {
              <div class="caja">
                <input [(colorPicker)]="colorGradiente.hex"
                  [style.background]="colorGradiente.hex"
                  [value]="colorGradiente.hex"
                  [cpDisabled]="true"
                  readonly="true"
                  (click)="onSelectDato(colorGradiente.hex)"/>
              </div>
            }
          </div>
          <!--
          <mat-list>
            @for (colorGradiente of listaGradiente; track colorGradiente) {
              <mat-list-item>
                <div>
                  <input [(colorPicker)]="colorGradiente.hex"
                    [style.background]="colorGradiente.hex"
                    [value]="colorGradiente.hex"
                    [cpDisabled]="true"
                    readonly="true"
                    (click)="onSelectDato(colorGradiente.hex)"/>
                </div>
              </mat-list-item>
            }
          </mat-list>
          -->

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c12">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.colores.frame.monocroma' | translate }}</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.colores.textosfijos.monocroma.parrafo1' | translate }}</em></small></p>

          <div>
            <label>{{ 'generadores.jpromocion.colores.entrada.numcolores.label' | translate }}</label>
          </div>
          <mat-slider style="width: 80%;" min="1" max="500" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="monocromaticoCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" (click)="onClickBotonMonocromaticoColor()"
            attr.aria-label="{{ 'generadores.jpromocion.colores.boton.monocroma.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.colores.boton.monocroma.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaMonocromaticos?.length && listaMonocromaticos.length > 0"
            style="margin-left: 5px; margin-bottom: 5px;" (click)="onClickLimpiarMonocromaticoColor()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaMonocromaticos?.length && listaMonocromaticos.length > 0"
            style="margin-left: 5px;" (click)="exportJsonMonocromatico()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <div class="grid-layout-gradiente"[@entradaLateralAnimation] *ngIf="listaMonocromaticos?.length && listaMonocromaticos.length > 0">
            @for (colorMonocromatico of listaMonocromaticos; track colorMonocromatico) {
              <div class="caja">
                <input [(colorPicker)]="colorMonocromatico.hex"
                  [style.background]="colorMonocromatico.hex"
                  [value]="colorMonocromatico.hex"
                  [cpDisabled]="true"
                  readonly="true"
                  (click)="onSelectDato(colorMonocromatico.hex)"/>
              </div>
            }
          </div>

        </mat-card-content>
      </mat-card>
    </div>


  </div>

</div>