.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.grid-layout-selector{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}


.grid-layout-transformacion{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}


//En este caso no fijamos un numero de columnas, dejamos que se auto fijen segun el tamaño disponible de la pantalla
.grid-layout-gradiente{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}

.c1, .c2, .c7, .c10, .c11, .c12 {
  grid-column: 1 / span 2;
}

