<h2 class="tracking-in-expand">Colores</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">


  <div class="grid-layout">

    <div class="caja c1">
      <mat-card appearance="outlined">
        <mat-card-header>Selector de Color</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>En operaciones que operen con 1 color, utilizarán el "Color principal".</em></small></p>
          <p style="margin-left: 10px;"><small><em>En operaciones que operen con 2 colores, utilizarán el "Color principal" como color 1, y el "Color secundario" como color 2.</em></small></p>

          <div class="grid-layout-selector">
            <div class="caja">

              <label>Color principal</label>
              <!-- NOTA: vamos a desactivar siempre el alpha... porque no tenemos preparados servicios para actuar con el en medio
              ... de hecho hay servicios que se van a encargar saturar... desaturar... aclarar... oscurecer... y no tienen en cuenta el alpha
              -->
              <span
                [style.background]="colorSele"
                [cpToggle]="true"
                [cpDialogDisplay]="'inline'"
                [(colorPicker)]="colorSele"
                [cpAlphaChannel]="'disabled'"
                (colorPickerChange)="colorSele=$event;seleccionarColor($event)">
              </span>
              <button mat-flat-button type="button" *ngIf="colorSele && colorSele != ''" (click)="onSelectDato(colorSele)"  style="margin-top: 5px;"
              matTooltip="Pulsar para copiar" matTooltipPosition="below">
                <span class="color">{{colorSele}}</span>
              </button>
              <button mat-flat-button type="button" *ngIf="colorSeleRgb && colorSeleRgb != ''" (click)="onSelectDato(colorSeleRgb)"  style="margin-top: 5px; margin-left: 5px;"
              matTooltip="Pulsar para copiar" matTooltipPosition="below">
                <span class="color">{{colorSeleRgb}}</span>
              </button>

            </div>

            <div class="caja">
              <label>Color secundario</label>
              <span
                [style.background]="colorSele2"
                [cpToggle]="true"
                [cpDialogDisplay]="'inline'"
                [(colorPicker)]="colorSele2"
                [cpAlphaChannel]="'disabled'">
              </span>
              <button mat-flat-button type="button" *ngIf="colorSele2 && colorSele2 != ''" (click)="onSelectDato(colorSele2)"  style="margin-top: 5px;"
              matTooltip="Pulsar para copiar" matTooltipPosition="below">
                <span class="color">{{colorSele2}}</span>
              </button>
            </div>

          </div>



        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>Generar Color</mat-card-header>
        <mat-card-content>
          <button type="button" mat-fab class="botonRotatorio" aria-label="Generar un color aleatorio" (click)="onClickBotonGenerarColor()"
            matTooltip="Pulsar para generar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="color != ''"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar listas" (click)="onClickLimpiarColor()"
            matTooltip="Pulsar para limpiar el color" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <!-- <input [(colorPicker)]="color" [style.background]="color" [(colorPicker)]="color"/> -->
          <div [@entradaLateralAnimation] *ngIf="color != ''">
            <span
              [style.background]="color"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="color"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorObj"
            (click)="onSelectDato(colorObj.hex)"  style="margin-top: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{colorObj.hex}}</span>
          </button>
          <button mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorObj"
            (click)="onSelectDato(getColorRgb(colorObj))"  style="margin-top: 5px; margin-left: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{getColorRgb(colorObj)}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>




    <div class="caja c3">
      <mat-card appearance="outlined">
        <mat-card-header>Hexadecimal -> RGB</mat-card-header>
        <mat-card-content>

          <mat-form-field style="width: 250px !important;margin-left: 5px;" >
            <mat-label>Color Hexadecimal</mat-label>
            <input matInput id="gradosValor" type="string"  placeholder="#f7557" [(ngModel)]="convertHexaParam">
            <mat-icon matSuffix matTooltip="Color en hexadcimal (iniciado con # o sin él)">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" aria-label="Conversión hexadecimal  a RGB" (click)="onClickBotonConvertirHexaRGB()"
            matTooltip="Pulsar para convertir" matTooltipPosition="below">
            <mat-icon>sync_alt</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="convertHexaRgb != ''"
            style="margin-left: 5px;" aria-label="Limpiar resultado" (click)="onClickLimpiarConvertirHexaRGB()"
            matTooltip="Pulsar para limpiar conversión" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <mat-form-field [@entradaLateralAnimation] *ngIf="convertHexaRgb != ''" style="width: 200px !important;margin-left: 5px;">
              <mat-label>RGB</mat-label>
              <input matInput id="convertHexaRgb" type="text" [(ngModel)]="convertHexaRgb" readonly="true" style="text-align: end;" (click)="onSelectDato(convertHexaRgb)">
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c4">
      <mat-card appearance="outlined">
        <mat-card-header>RGB -> Hexadecimal</mat-card-header>
        <mat-card-content>

          <mat-form-field style="width: 100px !important;margin-left: 5px;" >
            <mat-label>Rojo</mat-label>
            <input matInput id="gradosValor" type="number" placeholder="121" [(ngModel)]="convertRgbRojoParam">
          </mat-form-field>

          <mat-form-field style="width: 100px !important;margin-left: 5px;" >
            <mat-label>Verde</mat-label>
            <input matInput id="gradosValor" type="number" placeholder="114" [(ngModel)]="convertRgbVerdeParam">
          </mat-form-field>

          <mat-form-field style="width: 100px !important;margin-left: 5px;" >
            <mat-label>Azul</mat-label>
            <input matInput id="gradosValor" type="number" placeholder="182" [(ngModel)]="convertRgbAzulParam">
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" aria-label="Conversión RGB a hexadecimal" (click)="onClickBotonConvertirRGBHexa()"
            matTooltip="Pulsar para convertir" matTooltipPosition="below">
            <mat-icon>sync_alt</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="convertRgbHexa != ''"
            style="margin-left: 5px;" aria-label="Limpiar resultado" (click)="onClickLimpiarConvertirRGBHexa()"
            matTooltip="Pulsar para limpiar conversión" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <mat-form-field [@entradaLateralAnimation] *ngIf="convertRgbHexa != ''" style="width: 200px !important;margin-left: 5px;">
              <mat-label>Hexadecimal</mat-label>
              <input matInput id="convertRgbHexa" type="text" [(ngModel)]="convertRgbHexa" readonly="true" style="text-align: end;" (click)="onSelectDato(convertRgbHexa)">
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c5">
      <mat-card appearance="outlined">
        <mat-card-header>Aclarar color</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color".</em></small></p>

          <mat-slider  style="width: 300px;" min="1" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="aclaraColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Aclara color" (click)="onClickBotonAclararColor()"
            matTooltip="Pulsar para aclarar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorAclarado != ''"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarAclararColor()"
            matTooltip="Pulsar para limpiar el color" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorAclarado != ''">
            <span
              [style.background]="colorAclarado"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorAclarado"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btColorAclarado" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorAclarado"
            (click)="onSelectDato(colorAclarado)"  style="margin-top: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{colorAclarado}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c6">
      <mat-card appearance="outlined">
        <mat-card-header>Ocurecer color</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color".</em></small></p>

          <mat-slider  style="width: 300px;" min="1" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="oscureceColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Oscurecer color" (click)="onClickBotonOscurecerColor()"
            matTooltip="Pulsar para oscurecer" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorOscurecido != ''"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarOscurecerColor()"
            matTooltip="Pulsar para limpiar el color" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorOscurecido != ''">
            <span
              [style.background]="colorOscurecido"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorOscurecido"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btColorOscurecido" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorOscurecido"
            (click)="onSelectDato(colorOscurecido)"  style="margin-top: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{colorOscurecido}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>



    <div class="caja c7">
      <mat-card appearance="outlined">
        <mat-card-header>Matizar/Saturar/Brillo color</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color".</em></small></p>

          <div class="grid-layout-transformacion">
            <div class="caja">
              <div>
                <label>Matíz</label>
              </div>
              <mat-slider style="width: 300px;" min="-1" max="+1" step="0.01" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="matizColorCantidad">
              </mat-slider>
            </div>

            <div class="caja">
              <div>
                <label>Saturación</label>
              </div>
              <mat-slider style="width: 300px;" min="-1" max="+1" step="0.01" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="saturaColorCantidad">
              </mat-slider>
            </div>

            <div class="caja">
              <div>
                <label>Brillo</label>
              </div>
              <mat-slider style="width: 300px;" min="0" max="100" step="1" showTickMarks discrete>
                <input matSliderThumb [(ngModel)]="brilloColorCantidad">
              </mat-slider>
            </div>

          </div>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Transformar color" (click)="onClickBotonTransformarColor()"
            matTooltip="Pulsar para aplicar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorTransformado != ''"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarTransformarColor()"
            matTooltip="Pulsar para limpiar el color" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorTransformado != ''">
            <span
              [style.background]="colorTransformado"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorTransformado"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btcolorTransformado" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorTransformado"
            (click)="onSelectDato(colorTransformado)"  style="margin-top: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{colorTransformado}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c8">
      <mat-card appearance="outlined">
        <mat-card-header>Invertir color</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color".</em></small></p>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Invertir color" (click)="onClickBotonInvertirColor()"
            matTooltip="Pulsar para invertir" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorInvertir != ''"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarInvertirColor()"
            matTooltip="Pulsar para limpiar el color" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorInvertir != ''">
            <span
              [style.background]="colorInvertir"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorInvertir"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btcolorInvertir" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorInvertir"
            (click)="onSelectDato(colorInvertir)"  style="margin-top: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{colorInvertir}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c9">
      <mat-card appearance="outlined">
        <mat-card-header>Alpha color</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color".</em></small></p>

          <mat-slider  style="width: 300px;" min="0" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="alphaColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Alpha color" (click)="onClickBotonAlphaColor()"
            matTooltip="Pulsar para alpha" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorAlphaHex != ''"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarAlphaColor()"
            matTooltip="Pulsar para limpiar el color" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorAlphaHex != ''">
            <span
              [style.background]="colorAlphaHex"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorAlphaHex"
              [cpAlphaChannel]="'always'">
            </span>
          </div>
          <button id="btcolorAlphaHex" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorAlphaHex"
            (click)="onSelectDato(colorAlphaHex)"  style="margin-top: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{colorAlphaHex}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c10">
      <mat-card appearance="outlined">
        <mat-card-header>Mezclar colores</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color" como color 1 de la mezcla.</em></small></p>
          <p style="margin-left: 10px;"><small><em>Utiliza el "Color secundario" del bloque "Selector de Color" como color 2 de la mezcla.</em></small></p>

          <div>
            <label>% intervención color 2</label>
          </div>
          <mat-slider style="width: 300px;" min="0" max="100" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="mezclaColorCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Mezclar color" (click)="onClickBotonMezclarColor()"
            matTooltip="Pulsar para mezclar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="colorMezclado != ''"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarMezclarColor()"
            matTooltip="Pulsar para limpiar el color" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="colorMezclado != ''">
            <span
              [style.background]="colorMezclado"
              [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [(colorPicker)]="colorMezclado"
              [cpAlphaChannel]="'disabled'">
            </span>
          </div>
          <button id="btcolorMezclado" mat-flat-button type="button" [@encogimientoAnimation] *ngIf="colorMezclado"
            (click)="onSelectDato(colorMezclado)"  style="margin-top: 5px;"
            matTooltip="Pulsar para copiar" matTooltipPosition="below">
            <span class="color">{{colorMezclado}}</span>
          </button>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c11">
      <mat-card appearance="outlined">
        <mat-card-header>Gradiente colores</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color" como color 1 del gradiente.</em></small></p>
          <p style="margin-left: 10px;"><small><em>Utiliza el "Color secundario" del bloque "Selector de Color" como color 2 del gradiente.</em></small></p>

          <div>
            <label>Num. gradientes a generar</label>
          </div>
          <mat-slider style="width: 500px;" min="1" max="500" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="gradienteCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Gradiente color" (click)="onClickBotonGradienteColor()"
            matTooltip="Pulsar para gradientes" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaGradiente?.length && listaGradiente.length > 0"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarGradienteColor()"
            matTooltip="Pulsar para limpiar el gradiente" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaGradiente?.length && listaGradiente.length > 0"
            style="margin-left: 5px;" aria-label="Exportar a Excel" (click)="exportJsonGradiente()"
            matTooltip="Pulsar para exportar excel" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <div class="grid-layout-gradiente" [@entradaLateralAnimation] *ngIf="listaGradiente?.length && listaGradiente.length > 0">
            @for (colorGradiente of listaGradiente; track colorGradiente) {
              <div class="caja">
                <input [(colorPicker)]="colorGradiente.hex"
                  [style.background]="colorGradiente.hex"
                  [value]="colorGradiente.hex"
                  [cpDisabled]="true"
                  readonly="true"
                  (click)="onSelectDato(colorGradiente.hex)"/>
              </div>
            }
          </div>
          <!--
          <mat-list>
            @for (colorGradiente of listaGradiente; track colorGradiente) {
              <mat-list-item>
                <div>
                  <input [(colorPicker)]="colorGradiente.hex"
                    [style.background]="colorGradiente.hex"
                    [value]="colorGradiente.hex"
                    [cpDisabled]="true"
                    readonly="true"
                    (click)="onSelectDato(colorGradiente.hex)"/>
                </div>
              </mat-list-item>
            }
          </mat-list>
          -->

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c12">
      <mat-card appearance="outlined">
        <mat-card-header>Colores monocromáticos</mat-card-header>
        <mat-card-content>

          <p style="margin-left: 10px;"><small><em>Utiliza el "Color principal" del bloque "Selector de Color".</em></small></p>

          <div>
            <label>Num. colores</label>
          </div>
          <mat-slider style="width: 500px;" min="1" max="500" step="1" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="monocromaticoCantidad">
          </mat-slider>

          <button type="button" mat-fab class="botonRotatorio" aria-label="Monocromático color" (click)="onClickBotonMonocromaticoColor()"
            matTooltip="Pulsar para monocromáticos" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaMonocromaticos?.length && listaMonocromaticos.length > 0"
            style="margin-left: 5px; margin-bottom: 5px;" aria-label="Limpiar" (click)="onClickLimpiarMonocromaticoColor()"
            matTooltip="Pulsar para limpiar el monocromático" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="listaMonocromaticos?.length && listaMonocromaticos.length > 0"
            style="margin-left: 5px;" aria-label="Exportar a Excel" (click)="exportJsonMonocromatico()"
            matTooltip="Pulsar para exportar excel" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <div class="grid-layout-gradiente"[@entradaLateralAnimation] *ngIf="listaMonocromaticos?.length && listaMonocromaticos.length > 0">
            @for (colorMonocromatico of listaMonocromaticos; track colorMonocromatico) {
              <div class="caja">
                <input [(colorPicker)]="colorMonocromatico.hex"
                  [style.background]="colorMonocromatico.hex"
                  [value]="colorMonocromatico.hex"
                  [cpDisabled]="true"
                  readonly="true"
                  (click)="onSelectDato(colorMonocromatico.hex)"/>
              </div>
            }
          </div>

        </mat-card-content>
      </mat-card>
    </div>


  </div>

</div>