.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.grid-layout-selector{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}


.grid-layout-transformacion{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}


.grid-layout-gradiente{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 5px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}

.c1, .c2, .c7, .c10, .c11, .c12 {
  grid-column: 1 / span 2;
}

