<h2 class="tracking-in-expand">{{ 'generadores.jpromocion.menu.localizacion' | translate }}</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">

  <div class="grid-layout">

    <div class="caja c1">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.localizacion.frame.ccaa' | translate }}</mat-card-header>
        <mat-card-content>
          <button type="button"  mat-fab class="botonRotatorio" (click)="onClickBotonGenerarCCAA()"
            attr.aria-label="{{ 'generadores.jpromocion.localizacion.boton.generarccaa.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <!--
          [hidden]="!((ccaaGeneradoOriginal.length && ccaaGeneradoOriginal.length > 0))"
          -->
          <div [@entradaLateralAnimation] *ngIf="ccaaGeneradoOriginal && ccaaGeneradoOriginal.length && ccaaGeneradoOriginal.length > 0">
            <table mat-table #sortCcaaGenerado="matSort" [dataSource]="ccaaGenerado"
              matSort  (matSortChange)="announceSortChange($event)"
              cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumnsCCAA($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaCcaaGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                  {{ col.label | translate }}
                  <button mat-icon-button (click)="$event.stopPropagation(); openFilterCCAA(col.key); ">
                    <mat-icon>search</mat-icon>
                  </button>
                  <input class="filtroCabeceraTabla" #inputSearchCCAA type="text" hidden id="{{col.key}}-filterCCAA"
                    (click)="$event.stopPropagation()"
                    (blur)="filterDataCCAA(col.columna, inputSearchCCAA.value); closeFilterCCAA(col.key)" />
                </th>
                <td mat-cell *matCellDef="let ccaa">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(ccaa[col.columna], col.caseSensitive))"
                      matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{ccaa[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{ccaa[col.columna]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ ccaa[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsCcaaGenerado"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsCcaaGenerado;"></tr>
            </table>

            <!-- Acciones, y paginador -->
            <div style="float: left;">
              <button type="button" style="margin-left: 5px;"  mat-fab class="botonRotatorio" (click)="onClickLimpiarCCAA()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickLimpiarFiltrosCCAA()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>cleaning_services</mat-icon>
              </button>
              <button type="button"  style="margin-left: 5px;"  mat-fab class="botonRotatorio" (click)="exportJsonCCAA()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>description</mat-icon>
              </button>
            </div>

            <div style="float: right;">
              <mat-paginator #paginatorCcaaGenerado="matPaginator"
                [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.paginador.label' | translate }}">
              </mat-paginator>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.localizacion.frame.provincias' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 250px !important;">
            <mat-label>{{ 'generadores.jpromocion.localizacion.entrada.ccaa.label' | translate }}</mat-label>
            <input matInput id="provinCodCCAA" type="text"  maxlength="2" placeholder="01" [(ngModel)]="provinCodCCAA">
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGeneraProvincias()"
            attr.aria-label="{{ 'generadores.jpromocion.localizacion.boton.generarprovincias.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <!-- [hidden]="!((provinGeneradoOriginal.length && provinGeneradoOriginal.length > 0))" -->
          <div [@entradaLateralAnimation] *ngIf="provinGeneradoOriginal && provinGeneradoOriginal.length && provinGeneradoOriginal.length > 0">
            <table mat-table #sortProvinGenerado="matSort" [dataSource]="provinGenerado"
              matSort  (matSortChange)="announceSortChange($event)"
              cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumnsProvincia($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaProvinGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                  {{ col.label | translate }}
                  <button mat-icon-button (click)="$event.stopPropagation(); openFilterProvincia(col.key); ">
                    <mat-icon>search</mat-icon>
                  </button>
                  <input class="filtroCabeceraTabla" #inputSearchProvincia type="text" hidden id="{{col.key}}-filterProvincia"
                    (click)="$event.stopPropagation()"
                    (blur)="filterDataProvincia(col.columna, inputSearchProvincia.value); closeFilterProvincia(col.key)" />
                </th>
                <td mat-cell *matCellDef="let provincia">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(provincia[col.columna], col.caseSensitive))"
                      matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{provincia[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{provincia[col.columna]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ provincia[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumnsProvinGenerado"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsProvinGenerado;"></tr>
            </table>

            <!-- Acciones, y paginador -->
            <div style="float: left;">
              <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickLimpiarProvincias()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickLimpiarFiltrosProvincia()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>cleaning_services</mat-icon>
              </button>
              <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="exportJsonProvincias()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>description</mat-icon>
              </button>
            </div>

            <div style="float: right;">
              <mat-paginator #paginatorProvinGenerado="matPaginator"
                [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.paginador.label' | translate }}">
              </mat-paginator>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c3">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.localizacion.frame.municipios' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 250px !important;">
            <mat-label>{{ 'generadores.jpromocion.localizacion.entrada.provincia.label' | translate }}</mat-label>
            <input matInput id="muniCodProvin" type="text"  maxlength="2" placeholder="04" [(ngModel)]="muniCodProvin">
          </mat-form-field>

          <button type="button"  mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGeneraMunicipios()"
            attr.aria-label="{{ 'generadores.jpromocion.localizacion.boton.generarmunicipios.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <!-- [hidden]="!((muniGeneradoOriginal.length && muniGeneradoOriginal.length > 0))" -->
          <div [@entradaLateralAnimation] *ngIf="muniGeneradoOriginal && muniGeneradoOriginal.length && muniGeneradoOriginal.length > 0" >
            <table mat-table #sortMuniGenerado="matSort" [dataSource]="muniGenerado"
              matSort  (matSortChange)="announceSortChange($event)"
              cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumnsMunicipio($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaMuniGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                  {{ col.label | translate }}
                  <button mat-icon-button (click)="$event.stopPropagation(); openFilterMunicipio(col.key); ">
                    <mat-icon>search</mat-icon>
                  </button>
                  <input class="filtroCabeceraTabla" #inputSearchMunicipio type="text" hidden id="{{col.key}}-filterMunicipio"
                    (click)="$event.stopPropagation()"
                    (blur)="filterDataMunicipio(col.columna, inputSearchMunicipio.value); closeFilterMunicipio(col.key)" />
                </th>
                <td mat-cell *matCellDef="let municipio">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(municipio[col.columna], col.caseSensitive))"
                      matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{municipio[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{municipio[col.columna]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ municipio[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsMuniGenerado"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMuniGenerado;"></tr>
            </table>

            <!-- Acciones, y paginador -->
            <div style="float: left;">
              <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickLimpiarMunicipios()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickLimpiarFiltrosMunicipio()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>cleaning_services</mat-icon>
              </button>
              <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="exportJsonMunicipios()"
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
                <mat-icon>description</mat-icon>
              </button>
            </div>

            <div style="float: right;">
              <mat-paginator #paginatorMuniGenerado="matPaginator"
                [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.paginador.label' | translate }}">
              </mat-paginator>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>


  </div>


  <!--NOTA: sacamos fuera del grid-layout, porque dentro el table-responsive para la tabla de resultados que utilizamos para
    que en caso de tabla grande aparezca el scroll horizonta.... aparece completamente en negro y no se ve bien.
  -->
  <div style="margin: 10px;">

    <mat-card appearance="outlined">
      <mat-card-header>{{ 'generadores.jpromocion.localizacion.frame.domicilios' | translate }}</mat-card-header>
      <mat-card-content>

        <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.localizacion.textosfijos.domicilios.parrafo1' | translate }}</em></small></p>
        <p style="margin-left: 10px;"><small><em>{{ 'generadores.jpromocion.localizacion.textosfijos.domicilios.parrafo2' | translate }}</em></small></p>

        <div class="grid-parametros-direccion">
          <div class="caja">
            <mat-form-field style="width: 200px !important;">
              <mat-label>{{ 'generadores.jpromocion.localizacion.entrada.ccaa.label' | translate }}</mat-label>
              <input matInput id="provinCodCCAADomi" type="text"  maxlength="2"  [(ngModel)]="provinCodCCAA" readonly="true">
              <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.localizacion.entrada.ccaa.tooltip' | translate }}">help</mat-icon>
            </mat-form-field>
          </div>
          <div class="caja">
            <mat-form-field style="width: 200px !important;">
              <mat-label>{{ 'generadores.jpromocion.localizacion.entrada.provincia.label' | translate }}</mat-label>
              <input matInput id="muniCodProvinDomi" type="text"  maxlength="2"  [(ngModel)]="muniCodProvin" readonly="true">
              <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.localizacion.entrada.provincia.tooltip' | translate }}">help</mat-icon>
            </mat-form-field>
          </div>
          <div class="caja">
            <mat-form-field style="width: 200px !important;">
              <mat-label>{{ 'generadores.jpromocion.localizacion.entrada.municipio.label' | translate }}</mat-label>
              <input matInput id="direccionParamCodMuni" type="text"  maxlength="3" placeholder="001" [(ngModel)]="direccionParamCodMuni">
              <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.localizacion.entrada.municipio.tooltip' | translate }}">help</mat-icon>
            </mat-form-field>
          </div>
          <div class="caja">
            <mat-form-field style="width: 150px !important;">
              <mat-label>{{ 'generadores.jpromocion.generarcomunes.numgeneraciones.label' | translate }}</mat-label>
              <input matInput id="direccionParamNumGenerar" type="number"  min="1" max="1000" [(ngModel)]="direccionParamNumGenerar">
              <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.generarcomunes.numgeneraciones.tooltip' | translate }}">help</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="grid-parametros-direOpcional">
          <div class="caja">
            <label>{{ 'generadores.jpromocion.localizacion.entrada.km.label' | translate }}: </label>
            <mat-button-toggle-group name="direccionParamKm" [(ngModel)]="direccionParamKm"
              style="margin-left: 10px;">
              <mat-button-toggle value="">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.aleatorio' | translate }}</mat-button-toggle>
              <mat-button-toggle value="y">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.si' | translate }}</mat-button-toggle>
              <mat-button-toggle value="n">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.no' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="caja">
            <label>{{ 'generadores.jpromocion.localizacion.entrada.bloque.label' | translate }}: </label>
            <mat-button-toggle-group name="direccionParamBloque" [(ngModel)]="direccionParamBloque"
              style="margin-left: 10px;">
              <mat-button-toggle value="">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.aleatorio' | translate }}</mat-button-toggle>
              <mat-button-toggle value="y">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.si' | translate }}</mat-button-toggle>
              <mat-button-toggle value="n">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.no' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="caja">
            <label>{{ 'generadores.jpromocion.localizacion.entrada.portal.label' | translate }}: </label>
            <mat-button-toggle-group name="direccionParamPortal" [(ngModel)]="direccionParamPortal"
              style="margin-left: 10px;">
              <mat-button-toggle value="">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.aleatorio' | translate }}</mat-button-toggle>
              <mat-button-toggle value="y">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.si' | translate }}</mat-button-toggle>
              <mat-button-toggle value="n">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.no' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="caja">
            <label>{{ 'generadores.jpromocion.localizacion.entrada.escalera.label' | translate }}: </label>
            <mat-button-toggle-group name="direccionParamEscalera" [(ngModel)]="direccionParamEscalera"
              style="margin-left: 10px;">
              <mat-button-toggle value="">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.aleatorio' | translate }}</mat-button-toggle>
              <mat-button-toggle value="y">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.si' | translate }}</mat-button-toggle>
              <mat-button-toggle value="n">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.no' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div class="grid-parametros-direOpcional">
          <div class="caja">
            <label>{{ 'generadores.jpromocion.localizacion.entrada.planta.label' | translate }}: </label>
            <mat-button-toggle-group name="direccionParamPlanta" [(ngModel)]="direccionParamPlanta"
              style="margin-left: 10px;">
              <mat-button-toggle value="y">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.si' | translate }}</mat-button-toggle>
              <mat-button-toggle value="n">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.no' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="caja">
            <label>{{ 'generadores.jpromocion.localizacion.entrada.puerta.label' | translate }}: </label>
            <mat-button-toggle-group name="direccionParamPuerta" [(ngModel)]="direccionParamPuerta"
              style="margin-left: 10px;">
              <mat-button-toggle value="y">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.si' | translate }}</mat-button-toggle>
              <mat-button-toggle value="n">{{ 'generadores.jpromocion.generarcomunes.entrada.valoressinoaleatorio.no' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div class="grid-parametros-direccion-tipoLetra">
          <div class="caja">
            <label>{{ 'generadores.jpromocion.generarcomunes.entrada.tipoletra.label' | translate }}: </label>
            <mat-button-toggle-group name="tipoletra" [(ngModel)]="tipoLetra"
              style="margin-left: 10px;">
              <mat-button-toggle value="s">{{ 'generadores.jpromocion.generarcomunes.entrada.tipoletra.valors' | translate }}</mat-button-toggle>
              <mat-button-toggle value="M">{{ 'generadores.jpromocion.generarcomunes.entrada.tipoletra.valormay' | translate }}</mat-button-toggle>
              <mat-button-toggle value="m">{{ 'generadores.jpromocion.generarcomunes.entrada.tipoletra.valormin' | translate }}</mat-button-toggle>
              <mat-button-toggle value="c">{{ 'generadores.jpromocion.generarcomunes.entrada.tipoletra.valorc' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="caja">
            <button type="button"  mat-fab class="botonRotatorio" (click)="onClickBotonGeneraDomicilios()"
              attr.aria-label="{{ 'generadores.jpromocion.localizacion.boton.generardomicilios.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>

        <!-- [hidden]="!((direccionGeneradoOriginal.length && direccionGeneradoOriginal.length > 0))" -->
        <div [@entradaLateralAnimation] *ngIf="direccionGeneradoOriginal && direccionGeneradoOriginal.length && direccionGeneradoOriginal.length > 0">
          <div class="table-responsive">
            <table mat-table #sortDireccionGenerado="matSort" [dataSource]="direccionGenerado"
              matSort (matSortChange)="sortDataDirecciones($event)"
              cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumnsDirecciones($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaDireccionGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
                  {{ col.label | translate }}
                  <!-- "$event.stopPropagation()" en ambos buton y input de filtro, evita que se autoejecute el
                    sort al pulsar en ellos  dado que todo el th esta bajo la mat-sort-header.
                    De esta forma solo se ejecuta al pulsar sobre el la etiqueta de la cabecera.
                    Referencia: https://stackoverflow.com/questions/60451233/prevent-sort-on-click-into-input-in-angular-mattable
                  -->
                  <button mat-icon-button (click)="$event.stopPropagation(); openFilterDirecciones(col.key); ">
                    <mat-icon>search</mat-icon>
                  </button>
                  <input class="filtroCabeceraTabla" #inputSearchDireccion type="text" hidden id="{{col.key}}-filterDireccion"
                    (click)="$event.stopPropagation()"
                    (blur)="filterDataDirecciones(col.columna, inputSearchDireccion.value); closeFilterDirecciones(col.key)" />
                </th>
                <td mat-cell *matCellDef="let direccion">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(direccion[col.columna], col.caseSensitive))"
                      matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{direccion[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{direccion[col.columna]}}</span>
                      </button>
                      <button *ngIf="direccion[col.columna2] && direccion[col.columna2] != ''"
                        mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(direccion[col.columna2], col.caseSensitive))"
                        matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{direccion[col.columna2] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{direccion[col.columna2]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ direccion[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsDireccionGenerado"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsDireccionGenerado;"></tr>
            </table>
          </div>

          <!-- Acciones, y paginador, fuera del div anterior que es el que crea el scrool horizontal responsive -->
          <div style="float: left;margin-top:5px;">
            <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickLimpiarDomicilios()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
            </button>
            <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickLimpiarFiltrosDomicilios()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiarfiltros.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>cleaning_services</mat-icon>
            </button>
            <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="exportJsonDomicilios()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>description</mat-icon>
            </button>
            <mat-form-field style="margin-left: 5px; width: 350px !important;">
              <mat-label>{{ 'generadores.jpromocion.generarcomunes.entrada.columnasvisibles.label' | translate }}</mat-label>
              <mat-select multiple [(ngModel)]="selectColumnasDirecciones">
                @for (columna of listaColumnasDirecciones; track columna) {
                  <mat-option #matOptionColumDirecciones [value]="columna"
                    (click)="togglePerOneColumnasDireccion(matOptionColumDirecciones.selected, matOptionColumDirecciones.value)">
                    {{columna | translate}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div style="float: right;margin-top:5px;">
            <mat-paginator #paginatorDireccionGenerado="matPaginator"
              [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"
              showFirstLastButtons
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.paginador.label' | translate }}">
            </mat-paginator>
          </div>

        </div>

      </mat-card-content>
    </mat-card>

  </div>



</div>





