<h2>Localización</h2>

<div class="panelFluidoSegundoNivel">

  <div class="grid-layout">

    <div class="caja c1">
      <mat-card appearance="outlined">
        <mat-card-header>CCAA</mat-card-header>
        <mat-card-content>
          <button type="button"  mat-fab aria-label="Generar CCAAs" (click)="onClickBotonGenerarCCAA()"
            matTooltip="Pulsar para generar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <div [hidden]="!((ccaaGenerado.data.length && ccaaGenerado.data.length > 0))">
            <table mat-table #sortCcaaGenerado="matSort" [dataSource]="ccaaGenerado" matSort  (matSortChange)="announceSortChange($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaCcaaGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.label}}</th>
                <td mat-cell *matCellDef="let ccaa">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(ccaa[col.columna], col.caseSensitive))"
                      matTooltip="Pulsar para copiar" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{ccaa[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{ccaa[col.columna]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ ccaa[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsProvinGenerado"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsProvinGenerado;"></tr>
            </table>

            <!-- Acciones, y paginador -->
            <div style="float: left;">
              <button type="button" style="margin-left: 5px;"  mat-fab aria-label="Limpiar resultado" (click)="onClickLimpiarCCAA()"
                matTooltip="Pulsar para limpiar el CCAA" matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button"  style="margin-left: 5px;"  mat-fab aria-label="Exportar a Excel" (click)="exportJsonCCAA()"
                matTooltip="Pulsar para exportar excel" matTooltipPosition="below">
                <mat-icon>description</mat-icon>
              </button>
            </div>

            <div style="float: right;">
              <mat-paginator #paginatorCcaaGenerado="matPaginator"
                [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Seleccionar páginación">
              </mat-paginator>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>Provincias</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 250px !important;">
            <mat-label>Cod. CCAA</mat-label>
            <input matInput id="provinCodCCAA" type="text"  maxlength="2" placeholder="01" [(ngModel)]="provinCodCCAA">
          </mat-form-field>

          <button type="button" mat-fab style="margin-left: 5px;" aria-label="Generar Provincias" (click)="onClickBotonGeneraProvincias()"
            matTooltip="Pulsar para generar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <div [hidden]="!((provinGenerado.data.length && provinGenerado.data.length > 0))">
            <table mat-table #sortProvinGenerado="matSort" [dataSource]="provinGenerado" matSort  (matSortChange)="announceSortChange($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaProvinGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.label}}</th>
                <td mat-cell *matCellDef="let provincia">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(provincia[col.columna], col.caseSensitive))"
                      matTooltip="Pulsar para copiar" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{provincia[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{provincia[col.columna]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ provincia[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumnsProvinGenerado"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsProvinGenerado;"></tr>
            </table>

            <!-- Acciones, y paginador -->
            <div style="float: left;">
              <button type="button" mat-fab style="margin-left: 5px;" aria-label="Limpiar resultado" (click)="onClickLimpiarProvincias()"
                matTooltip="Pulsar para limpiar el provincias" matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-fab style="margin-left: 5px;" aria-label="Exportar a Excel" (click)="exportJsonProvincias()"
                matTooltip="Pulsar para exportar excel" matTooltipPosition="below">
                <mat-icon>description</mat-icon>
              </button>
            </div>

            <div style="float: right;">
              <mat-paginator #paginatorProvinGenerado="matPaginator"
                [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Seleccionar páginación">
              </mat-paginator>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c3">
      <mat-card appearance="outlined">
        <mat-card-header>Municipios</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 250px !important;">
            <mat-label>Cod. Provincia</mat-label>
            <input matInput id="muniCodProvin" type="text"  maxlength="2" placeholder="04" [(ngModel)]="muniCodProvin">
          </mat-form-field>

          <button type="button"  mat-fab style="margin-left: 5px;" aria-label="Generar Municipios" (click)="onClickBotonGeneraMunicipios()"
            matTooltip="Pulsar para generar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <div [hidden]="!((muniGenerado.data.length && muniGenerado.data.length > 0))">
            <table mat-table #sortMuniGenerado="matSort" [dataSource]="muniGenerado" matSort  (matSortChange)="announceSortChange($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaMuniGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.label}}</th>
                <td mat-cell *matCellDef="let municipio">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(municipio[col.columna], col.caseSensitive))"
                      matTooltip="Pulsar para copiar" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{municipio[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{municipio[col.columna]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ municipio[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsProvinGenerado"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsProvinGenerado;"></tr>
            </table>

            <!-- Acciones, y paginador -->
            <div style="float: left;">
              <button type="button" mat-fab style="margin-left: 5px;" aria-label="Limpiar resultado" (click)="onClickLimpiarMunicipios()"
                matTooltip="Pulsar para limpiar el municipios" matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-fab style="margin-left: 5px;" aria-label="Exportar a Excel" (click)="exportJsonMunicipios()"
                matTooltip="Pulsar para exportar excel" matTooltipPosition="below">
                <mat-icon>description</mat-icon>
              </button>
            </div>

            <div style="float: right;">
              <mat-paginator #paginatorMuniGenerado="matPaginator"
                [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Seleccionar páginación">
              </mat-paginator>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>


  </div>


  <!--NOTA: sacamos fuera del grid-layout, porque dentro el table-responsive para la tabla de resultados que utilizamos para
    que en caso de tabla grande aparezca el scroll horizonta.... aparece completamente en negro y no se ve bien.
  -->
  <div style="margin: 10px;">

    <mat-card appearance="outlined">
      <mat-card-header>Domicilios</mat-card-header>
      <mat-card-content>

        <p style="margin-left: 10px;"><small><em>Genera un domicilio completamente aleatorio en CCAA, Provincia, Municipio, o selecciona en los bloques anterires una CCAA y provincia para generarlos dirigidos.</em></small></p>
        <p style="margin-left: 10px;"><small><em>Adicionalmente en este bloque podrás filtrar por el Municipio concreto de una provincia sobre el que generar.</em></small></p>

        <div>
          <mat-form-field style="width: 200px !important;">
            <mat-label>Cod. CCAA</mat-label>
            <input matInput id="provinCodCCAADomi" type="text"  maxlength="2"  [(ngModel)]="provinCodCCAA" readonly="true">
            <mat-icon matSuffix matTooltip="Auto-rellenado con la CCAA seleccionada en el bloque 'Provincias'.">help</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 200px !important;margin-left: 5px;">
            <mat-label>Cod. Provincia</mat-label>
            <input matInput id="muniCodProvinDomi" type="text"  maxlength="2"  [(ngModel)]="muniCodProvin" readonly="true">
            <mat-icon matSuffix matTooltip="Auto-rellenado con la CCAA seleccionada en el bloque 'Municipios'.">help</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 200px !important;margin-left: 5px;">
            <mat-label>Cod. Municipio</mat-label>
            <input matInput id="direccionParamCodMuni" type="text"  maxlength="3" placeholder="001" [(ngModel)]="direccionParamCodMuni">
            <mat-icon matSuffix matTooltip="Este valor si debe ser rellenado si se quiere filtrar las direcciones por municipio. El código de municipio está relacionado con la provincia, por lo que no tiene sentido por si solo. Puede copiarlo de uno de los resultados del bloque 'Municipios' tras filtrar una provincia.">help</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 150px !important;margin-left: 5px;">
            <mat-label>Num. generaciones</mat-label>
            <input matInput id="direccionParamNumGenerar" type="number"  min="1" max="1000" placeholder="Número de generaciones" [(ngModel)]="direccionParamNumGenerar">
            <mat-icon matSuffix matTooltip="Número de domicilios a obtener.">help</mat-icon>
          </mat-form-field>

        </div>

        <div>
          <label>Tipo letra: </label>
          <mat-button-toggle-group name="tipoletra" aria-label="Tipo letra de campos texto" [(ngModel)]="tipoLetra"
            style="margin-left: 10px;">
            <mat-button-toggle value="s">Sin formato</mat-button-toggle>
            <mat-button-toggle value="M">Mayúsculas</mat-button-toggle>
            <mat-button-toggle value="m">Minúsculas</mat-button-toggle>
            <mat-button-toggle value="c">Camel case</mat-button-toggle>
          </mat-button-toggle-group>

          <button type="button"  mat-fab style="margin-left: 5px;" aria-label="Generar domicilios" (click)="onClickBotonGeneraDomicilios()"
            matTooltip="Pulsar para generar" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>

        <div [hidden]="!((direccionGenerado.data.length && direccionGenerado.data.length > 0))">
          <div class="table-responsive">
            <table mat-table #sortDireccionGenerado="matSort" [dataSource]="direccionGenerado" matSort  (matSortChange)="announceSortChange($event)">

              <!-- Opcion de parametrizar columna y mostrar por tipo en vez de hacerlo por cada columna
                https://muhimasri.com/blogs/create-an-editable-dynamic-table-using-angular-material/
              -->
              <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchemaDireccionGenerado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.label}}</th>
                <td mat-cell *matCellDef="let direccion">
                  <!-- Seleccionamos por el type como mostrarlo-->
                  <div [ngSwitch]="col.type" >
                    <!--button: boton normal para mostrar un dato (viene parametrizado por propiedades: si aplica una clase de formato distinta,
                      si aplica cambio mayus/minus e incluso si no lleva solo un valor a mostrar sino dos valores)
                    -->
                    <div *ngSwitchCase="'button'">
                      <button mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(direccion[col.columna], col.caseSensitive))"
                      matTooltip="Pulsar para copiar" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{direccion[col.columna] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{direccion[col.columna]}}</span>
                      </button>
                      <button *ngIf="direccion[col.columna2] && direccion[col.columna2] != ''"
                        mat-flat-button [ngClass]="col.clase" type="button" (click)="onSelectDato(transformaTexto(direccion[col.columna2], col.caseSensitive))"
                        matTooltip="Pulsar para copiar" matTooltipPosition="below">
                        <span *ngIf="col.caseSensitive">{{direccion[col.columna2] | caseTransformer: tipoLetra }}</span>
                        <span *ngIf="!col.caseSensitive">{{direccion[col.columna2]}}</span>
                      </button>
                    </div>
                    <span *ngSwitchDefault>
                      {{ direccion[col.columna] }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsDireccionGenerado()"></tr>
              <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsDireccionGenerado();"></tr>
            </table>
          </div>

          <!-- Acciones, y paginador, fuera del div anterior que es el que crea el scrool horizontal responsive -->
          <div style="float: left;margin-top:5px;">
            <button type="button" mat-fab style="margin-left: 5px;" aria-label="Limpiar resultado" (click)="onClickLimpiarDomicilios()"
              matTooltip="Pulsar para limpiar las direcciones" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
            </button>
            <button type="button" mat-fab style="margin-left: 5px;" aria-label="Exportar a Excel" (click)="exportJsonDomicilios()"
              matTooltip="Pulsar para exportar excel" matTooltipPosition="below">
              <mat-icon>description</mat-icon>
            </button>
            <mat-form-field style="margin-left: 5px; width: 350px !important;">
              <mat-label>Columnas visibles</mat-label>
              <mat-select multiple [(ngModel)]="selectColumnasDirecciones">
                @for (columna of listaColumnasDirecciones; track columna) {
                  <mat-option [value]="columna">{{columna}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div style="float: right;margin-top:5px;">
            <mat-paginator #paginatorDireccionGenerado="matPaginator"
              [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"
              showFirstLastButtons
              aria-label="Seleccionar páginación">
            </mat-paginator>
          </div>

        </div>

      </mat-card-content>
    </mat-card>

  </div>



</div>





