.grid-layout{
  display: grid;
  //Cambiamos a aplicacion de columnas automatizadas por tamaño para mejorar ajuste de pantalla en movil
  //  -Quitramoes los span de algunas columnas
  //  -En su lugar si queremoss asegurar un salto abajo de una parte, creamos div grid-layout distintos
  //   y asi es seguro que saltan abajo
  //grid-template-columns: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 10px;
}


.caja{
  width: auto;
  height: auto;
  //margin: 5px;
  //border: 4px solid black;
  //background-color: lightblue;
  //line-height: 150px;
  //text-align: center;
}


// .c0{
//   grid-column: 1 / span 2;
// }






