.grid-layout{
  display: grid;
  grid-template-columns: 33% auto auto;
  margin: 20px;
}


.caja{
  width: auto;
  height: auto;
  //border: 4px solid black;
  //background-color: lightblue;
  //margin: 15px;
  //line-height: 150px;
  //text-align: center;
}

.c3{
  grid-column: 1 / 4;
}




