.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
}


.caja{
  width: auto;
  height: auto;
  margin: 5px;
  //border: 4px solid black;
  //background-color: lightblue;
  //line-height: 150px;
  //text-align: center;
}

.c0{
  grid-column: 1 / span 2;
}







