.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.caja{
  width: auto;
  height: auto;
  //margin: 5px;
}

.c5{
  grid-column: 1 / span 2;
}



.grid-layout-edad{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.grid-layout-pascua{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

