<h2 class="tracking-in-expand">{{ 'generadores.jpromocion.menu.fechas' | translate }}</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">

  <div class="grid-layout">


    <div class="caja c1">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.generartipofecha' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 200px !important;">
            <mat-label>{{ 'generadores.jpromocion.generarcomunes.numgeneraciones.label' | translate }}</mat-label>
            <input matInput id="numGenera" type="number"  min="2" max="1000"  [(ngModel)]="numGenerar">
          </mat-form-field>

          <mat-form-field style="width: 200px;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.fechas.entrada.tipofecha.label' | translate }}</mat-label>
            <mat-select [(ngModel)]="selectedTipoGenera" placeholder="{{ 'generadores.jpromocion.fechas.entrada.tipofecha.placeholder' | translate }}">
              @for (tipo of tiposGenera; track tipo) {
                <mat-option [value]="tipo.valor">{{tipo.nombre | translate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>


          <!-- NOTA: los botones de esta pestaña fecha... no estan cogiendo la clase mat-accent que deberian llevar el mat-fab
            para pintarse lila... y no un violeta... no he conseguido saber porque, aplico color="accent" lo fuerza
           -->
          <button type="button" mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonGenerarTipo()"
            attr.aria-label="{{ 'generadores.jpromocion.fechas.boton.generartipo.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation]
            *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarTipo()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation]
            *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" (click)="exportJsonTipos()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="textoGenerado?.length && textoGenerado.length > 0" >
            @for (texto of textoGenerado; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="fecha">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.edad' | translate }}</mat-card-header>
        <mat-card-content>

          <div>
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.fechanacimiento.label' | translate }}</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" readonly="true">
              <mat-hint>{{ 'generadores.jpromocion.fechas.entrada.fechanacimiento.hint' | translate }}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.horanacimiento.label' | translate }}</mat-label>
              <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
              <input matInput
                    name="in_horaNacimiento"
                    [format]="24"
                    [(ngModel)]="horaNacimiento"
                    [ngxMatTimepicker]="pickerHoraNacimiento"
                    readonly />
              <mat-icon matSuffix
                        (click)="pickerHoraNacimiento.open()">
                  watch_later
              </mat-icon>
              -->
              <input matInput
                    name="in_horaNacimiento"
                    [matTimepicker]="pickerHoraNacimiento"
                    [(ngModel)]="fechaNacimiento">
              <mat-timepicker-toggle matIconSuffix [for]="pickerHoraNacimiento"/>
              <mat-timepicker interval="15min" #pickerHoraNacimiento/>
            </mat-form-field>
            <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
            <ngx-mat-timepicker color="accent" #pickerHoraNacimiento></ngx-mat-timepicker>
            -->

            <button type="button"  mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonEdad()"
              attr.aria-label="{{ 'generadores.jpromocion.fechas.boton.calcularedad.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.calcular.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>calculate</mat-icon>
            </button>

            <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="edadRes"
              style="margin-left: 5px;" color="accent" (click)="onClickLimpiarEdad()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
            </button>

          </div>

          <div [@entradaLateralAnimation] *ngIf="edadRes" style="margin-top: 5px;">
            <div class="grid-layout-edad">

              <div class="caja">
                {{ 'generadores.jpromocion.fechas.salida.edad.valoresrelativos' | translate }}:
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.anyosRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.anyosRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.anos' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.mesesRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.mesesRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.meses' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.diasRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.diasRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.dias' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.horasRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.horasRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.horas' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.minutosRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.minutosRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.minutos' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.segundosRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.segundosRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.segundos' | translate }}
                </p>
              </div>

              <div class="caja">
                {{ 'generadores.jpromocion.fechas.salida.edad.valoresabsolutos' | translate }}:
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.anyos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.anyos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.anos' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.meses.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.meses}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.meses' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.dias.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.dias}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.dias' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.horas.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.horas}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.horas' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(edadRes.minutos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.minutos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.minutos' | translate }}
                </p>
                <p>
                  <button mat-flat-button id="btnResEdadFinal" type="button" (click)="onSelectDato(edadRes.segundos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{edadRes.segundos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.segundos' | translate }}
                </p>
              </div>

            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c3">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.diferencia' | translate }}</mat-card-header>
        <mat-card-content>

          <div>
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.fecha1.label' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerFecDifParam1" [(ngModel)]="fechaDifParam1" readonly="true">
              <mat-hint>{{ 'generadores.jpromocion.fechas.entrada.fecha1.hint' | translate }}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="pickerFecDifParam1"></mat-datepicker-toggle>
              <mat-datepicker #pickerFecDifParam1 disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.hora1.label' | translate }}</mat-label>
              <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
              <input matInput
                    name="in_horaDifParam1"
                    [format]="24"
                    [(ngModel)]="horaDifParam1"
                    [ngxMatTimepicker]="pickerHoraDifParam1"
                    readonly />
              <mat-icon matSuffix
                        (click)="pickerHoraDifParam1.open()">
                  watch_later
              </mat-icon>
              -->
              <input matInput
                    name="in_horaDifParam1"
                    [matTimepicker]="pickerHoraDifParam1"
                    [(ngModel)]="fechaDifParam1">
              <mat-timepicker-toggle matIconSuffix [for]="pickerHoraDifParam1"/>
              <mat-timepicker interval="15min" #pickerHoraDifParam1/>
            </mat-form-field>
            <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
            <ngx-mat-timepicker color="accent" #pickerHoraDifParam1></ngx-mat-timepicker>
            -->
          </div>
          <div>
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.fecha2.label' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerFecDifParam2" [(ngModel)]="fechaDifParam2" readonly="true">
              <mat-hint>{{ 'generadores.jpromocion.fechas.entrada.fecha2.hint' | translate }}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="pickerFecDifParam2"></mat-datepicker-toggle>
              <mat-datepicker #pickerFecDifParam2 disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.hora2.label' | translate }}</mat-label>
              <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
              <input matInput
                    name="in_horaDifParam2"
                    [format]="24"
                    [(ngModel)]="horaDifParam2"
                    [ngxMatTimepicker]="pickerHoraDifParam2"
                    readonly />
              <mat-icon matSuffix
                        (click)="pickerHoraDifParam2.open()">
                  watch_later
              </mat-icon>
              -->
              <input matInput
                    name="in_horaDifParam2"
                    [matTimepicker]="pickerHoraDifParam2"
                    [(ngModel)]="fechaDifParam2">
              <mat-timepicker-toggle matIconSuffix [for]="pickerHoraDifParam2"/>
              <mat-timepicker interval="15min" #pickerHoraDifParam2/>
            </mat-form-field>
            <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
            <ngx-mat-timepicker color="accent" #pickerHoraDifParam2></ngx-mat-timepicker>
            -->
          </div>

          <button type="button"  mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonDiferencia()"
            attr.aria-label="{{ 'generadores.jpromocion.fechas.boton.calculardif.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.calcular.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>calculate</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation] *ngIf="difRes"
            style="margin-left: 5px;" (click)="onClickLimpiarDiferencia()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="difRes" style="margin-top: 5px;">
            <div class="grid-layout-edad">

              <div class="caja">
                {{ 'generadores.jpromocion.fechas.salida.edad.valoresrelativos' | translate }}
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.anyosRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.anyosRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.anos' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.mesesRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.mesesRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.meses' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.diasRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.diasRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.dias' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.horasRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.horasRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.horas' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.minutosRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.minutosRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.minutos' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.segundosRelativos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.segundosRelativos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.segundos' | translate }}
                </p>
              </div>

              <div class="caja">
                {{ 'generadores.jpromocion.fechas.salida.edad.valoresabsolutos' | translate }}
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.anyos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.anyos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.anos' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.meses.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.meses}}</span>
                  </button>
                  meses
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.dias.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.dias}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.dias' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.horas.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.horas}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.horas' | translate }}
                </p>
                <p>
                  <button mat-flat-button type="button" (click)="onSelectDato(difRes.minutos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.minutos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.minutos' | translate }}
                </p>
                <p>
                  <button mat-flat-button id="btnResDifFinal" type="button" (click)="onSelectDato(difRes.segundos.toString())"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{difRes.segundos}}</span>
                  </button>
                  {{ 'generadores.jpromocion.fechas.salida.edad.segundos' | translate }}
                </p>
              </div>

            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c4">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.diasemana' | translate }}</mat-card-header>
        <mat-card-content>

          <div>
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.fecha.label' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerFecDiaSemanaParam" [(ngModel)]="fechaDiaSemanaParam" readonly="true">
              <mat-hint>{{ 'generadores.jpromocion.fechas.entrada.fecha.hint' | translate }}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="pickerFecDiaSemanaParam"></mat-datepicker-toggle>
              <mat-datepicker #pickerFecDiaSemanaParam disabled="false"></mat-datepicker>
            </mat-form-field>

            <button type="button"  mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonDiaSemana()"
              attr.aria-label="{{ 'generadores.jpromocion.fechas.boton.calculardia.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.calcular.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>calculate</mat-icon>
            </button>

            <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation] *ngIf="diaSemanaRes != ''"
              style="margin-left: 5px;" (click)="onClickLimpiarDiaSemana()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
            </button>

          </div>

          <div >
            <mat-form-field style="width: 200px !important;margin-left: 5px;" [@entradaLateralAnimation] *ngIf="diaSemanaRes != ''">
              <mat-label>{{ 'generadores.jpromocion.fechas.salida.diasemana.label' | translate }}</mat-label>
              <input matInput id="in_diaSemanaRes" type="text" [(ngModel)]="diaSemanaRes" readonly="true" (click)="onSelectDato(diaSemanaRes)">
            </mat-form-field>
          </div>


        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c5">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.operar' | translate }}</mat-card-header>
        <mat-card-content>

          <div>
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.fecha.label' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerFecOperarParam" [(ngModel)]="fechaOperarParam" readonly="true">
              <mat-hint>{{ 'generadores.jpromocion.fechas.entrada.fecha.hint' | translate }}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="pickerFecOperarParam"></mat-datepicker-toggle>
              <mat-datepicker #pickerFecOperarParam disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.hora.label' | translate }}</mat-label>
              <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
              <input matInput
                    name="in_horaOperarParam"
                    [format]="24"
                    [(ngModel)]="horaOperarParam"
                    [ngxMatTimepicker]="pickerHoraOperarParam"
                    readonly />
              <mat-icon matSuffix
                        (click)="pickerHoraOperarParam.open()">
                  watch_later
              </mat-icon>
              -->
              <input matInput
                    name="in_horaOperarParam"
                    [matTimepicker]="pickerHoraOperarParam"
                    [(ngModel)]="fechaOperarParam">
              <mat-timepicker-toggle matIconSuffix [for]="pickerHoraOperarParam"/>
              <mat-timepicker interval="15min" #pickerHoraOperarParam/>
            </mat-form-field>
            <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
            <ngx-mat-timepicker color="accent" #pickerHoraOperarParam></ngx-mat-timepicker>
            -->

            <mat-form-field style="width: 200px;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.operacion.label' | translate }}</mat-label>
              <mat-select [(ngModel)]="selectedTipoOpera" placeholder="{{ 'generadores.jpromocion.fechas.entrada.operacion.placeholder' | translate }}">
                @for (tipo of tiposOpera; track tipo) {
                  <mat-option [value]="tipo.valor">{{tipo.nombre | translate}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

          </div>

          <div>
            <mat-form-field style="width: 150px !important;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.anos.label' | translate }}</mat-label>
              <input matInput id="paramOperaAnyos" type="number"  min="0" max="1000" [(ngModel)]="paramOperaAnyos">
            </mat-form-field>

            <mat-form-field style="width: 150px;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.meses.label' | translate }}</mat-label>
              <input matInput id="paramOperaMeses" type="number"  min="0" max="1000" [(ngModel)]="paramOperaMeses">
            </mat-form-field>

            <mat-form-field style="width: 150px;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.dias.label' | translate }}</mat-label>
              <input matInput id="paramOperaDias" type="number"  min="0" max="1000" [(ngModel)]="paramOperaDias">
            </mat-form-field>

            <mat-form-field style="width: 150px;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.horas.label' | translate }}</mat-label>
              <input matInput id="paramOperaHoras" type="number"  min="0" max="1000" [(ngModel)]="paramOperaHoras">
            </mat-form-field>

            <mat-form-field style="width: 150px;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.minutos.label' | translate }}</mat-label>
              <input matInput id="paramOperaMinutos" type="number"  min="0" max="1000" [(ngModel)]="paramOperaMinutos">
            </mat-form-field>
          </div>



          <button type="button"  mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonOperar()"
            attr.aria-label="{{ 'generadores.jpromocion.fechas.boton.calcularoperacion.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.calcular.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>calculate</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation] *ngIf="fechaOperarRes && horaOperarRes != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarOperar()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="fechaOperarRes && horaOperarRes != ''">
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.salida.fecharesultado.label' | translate }}</mat-label>
              <input matInput id="in_fechaOperarRes" [matDatepicker]="pickerFecOperarRes" [(ngModel)]="fechaOperarRes" readonly="true"
                (click)="onSelectDato(fechaFormateada(fechaOperarRes))">
              <mat-datepicker-toggle matIconSuffix [for]="pickerFecOperarRes" disabled></mat-datepicker-toggle>
              <mat-datepicker #pickerFecOperarRes disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.salida.horaresultado.label' | translate }}</mat-label>
              <input matInput readonly [(ngModel)]="horaOperarRes" (click)="onSelectDato(horaOperarRes)"/>
              <mat-icon matSuffix>
                  watch_later
              </mat-icon>
            </mat-form-field>
          </div>


        </mat-card-content>
      </mat-card>
    </div>



    <div class="caja c6">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.unixafecha' | translate }}</mat-card-header>
        <mat-card-content>

          <mat-form-field style="width: 250px !important;margin-left: 5px;" >
            <mat-label>{{ 'generadores.jpromocion.fechas.entrada.utc.label' | translate }}</mat-label>
            <input matInput id="paramTimeUnix" type="number"  placeholder="1730199192" [(ngModel)]="paramTimeUnix">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.fechas.entrada.utc.tooltip' | translate }}">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonUTCFecha()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.transformar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.transformar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>sync_alt</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation]
            *ngIf="fechaLocalResTimUnix && horaLocalResTimUnix != '' && fechaUTCResTimUnix && horaUTCResTimUnix != ''"
            style="margin-left: 5px;" (click)="onClickLimpiarUTCFecha()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="fechaLocalResTimUnix && horaLocalResTimUnix != ''">
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.salida.fechalocal.label' | translate }}</mat-label>
              <input matInput id="in_fechaLocalResTimUnix" [matDatepicker]="pickerFecLocalResTimUnix" [(ngModel)]="fechaLocalResTimUnix" readonly="true"
                (click)="onSelectDato(fechaFormateada(fechaLocalResTimUnix))">
              <mat-datepicker-toggle matIconSuffix [for]="pickerFecLocalResTimUnix" disabled></mat-datepicker-toggle>
              <mat-datepicker #pickerFecLocalResTimUnix disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.salida.horalocal.label' | translate }}</mat-label>
              <input matInput readonly [(ngModel)]="horaLocalResTimUnix" (click)="onSelectDato(horaLocalResTimUnix)"/>
              <mat-icon matSuffix>
                  watch_later
              </mat-icon>
            </mat-form-field>

          </div>

          <div [@entradaLateralAnimation]  *ngIf="fechaUTCResTimUnix && horaUTCResTimUnix != ''">
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.salida.fechautc.label' | translate }}</mat-label>
              <input matInput id="in_fechaUTCResTimUnix" [matDatepicker]="pickerFecUTCResTimUnix" [(ngModel)]="fechaUTCResTimUnix" readonly="true"
                (click)="onSelectDato(fechaFormateada(fechaUTCResTimUnix))">
              <mat-datepicker-toggle matIconSuffix [for]="pickerFecUTCResTimUnix" disabled></mat-datepicker-toggle>
              <mat-datepicker #pickerFecUTCResTimUnix disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.salida.horautc.label' | translate }}</mat-label>
              <input matInput readonly [(ngModel)]="horaUTCResTimUnix" (click)="onSelectDato(horaUTCResTimUnix)"/>
              <mat-icon matSuffix>
                  watch_later
              </mat-icon>
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c7">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.fechaaunix' | translate }}</mat-card-header>
        <mat-card-content>


          <div>
            <mat-form-field>
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.fechalocal.label' | translate }}</mat-label>
              <input matInput [matDatepicker]="pickerparamFechaLocal" [(ngModel)]="paramFechaLocal" readonly="true">
              <mat-hint>{{ 'generadores.jpromocion.fechas.entrada.fechalocal.hint' | translate }}</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="pickerparamFechaLocal"></mat-datepicker-toggle>
              <mat-datepicker #pickerparamFechaLocal disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.fechas.entrada.horalocal.label' | translate }}</mat-label>
              <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
              <input matInput
                    name="in_paramHoraLocal"
                    [format]="24"
                    [(ngModel)]="paramHoraLocal"
                    [ngxMatTimepicker]="pickerparamHoraLocal"
                    readonly />
              <mat-icon matSuffix
                        (click)="pickerparamHoraLocal.open()">
                  watch_later
              </mat-icon>
              -->
              <input matInput
                    name="in_horaNacimiento"
                    [matTimepicker]="pickerparamHoraLocal"
                    [(ngModel)]="paramFechaLocal">
              <mat-timepicker-toggle matIconSuffix [for]="pickerparamHoraLocal"/>
              <mat-timepicker interval="15min" #pickerparamHoraLocal/>
            </mat-form-field>
            <!-- volver a ngx-mat-timepicker cuando actualicen a 19??
            <ngx-mat-timepicker color="accent" #pickerparamHoraLocal></ngx-mat-timepicker>
            -->

            <button type="button" mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonFechaUTC()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.transformar.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.transformar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>sync_alt</mat-icon>
            </button>

            <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation]
              *ngIf="timeUnixRes" style="margin-left: 5px;" (click)="onClickLimpiarFechaUTC()"
              attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
              <mat-icon>delete</mat-icon>
            </button>

          </div>

          <div [@entradaLateralAnimation] *ngIf="timeUnixRes">
            <button mat-flat-button id="btnResTimeUnix" type="button" (click)="onSelectDato(timeUnixRes.toString())"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
              <span class="unix">{{timeUnixRes}}</span>
            </button>
          </div>


        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c8">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.fechas.frame.pascua' | translate }}</mat-card-header>
        <mat-card-content>

          <mat-form-field style="width: 200px !important;">
            <mat-label>{{ 'generadores.jpromocion.fechas.entrada.ejercicio.label' | translate }}</mat-label>
            <input matInput id="pascuaParamEjercicio" type="number"  placeholder="2024" [(ngModel)]="pascuaParamEjercicio">
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" color="accent" style="margin-left: 5px;" (click)="onClickBotonGenerarPascua()"
            attr.aria-label="{{ 'generadores.jpromocion.fechas.boton.generarpascua.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" color="accent" [@encogimientoAnimation]
            *ngIf="pascuaRes" style="margin-left: 5px;" (click)="onClickLimpiarPascua()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>

          <div [@entradaLateralAnimation] *ngIf="pascuaRes" style="margin-top: 5px;">
            <div class="grid-layout-pascua">

              <div class="caja">
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.domingoramos' | translate }}:
                  <button id="btnPascuaResDomingoRamos" mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaDomingoRamos))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaDomingoRamos)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.lunesanto' | translate }}:
                  <button  mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaLunesSanto))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaLunesSanto)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.martessanto' | translate }}:
                  <button  mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaMartesSanto))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaMartesSanto)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.miercolessanto' | translate }}:
                  <button  mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaMiercolesSanto))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaMiercolesSanto)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.juevessanto' | translate }}:
                  <button  mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaJuevesSanto))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaJuevesSanto)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.viernessanto' | translate }}:
                  <button  mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaViernesSanto))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaViernesSanto)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.sabadosanto' | translate }}:
                  <button  mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaSabadoSanto))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaSabadoSanto)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.domingoresurreccion' | translate }}:
                  <button  mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaDomingoResurreccion))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaDomingoResurreccion)}}</span>
                  </button>
                </p>
              </div>

              <div class="caja">
                {{ 'generadores.jpromocion.fechas.salida.pascua.periodovacacional' | translate }}:
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.periodoinicio' | translate }}:
                  <button mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaLunesPeriodoVacacional))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaLunesPeriodoVacacional)}}</span>
                  </button>
                </p>
                <p>
                  {{ 'generadores.jpromocion.fechas.salida.pascua.periodofin' | translate }}:
                  <button mat-flat-button type="button" (click)="onSelectDato(fechaFormateada(pascuaRes.fechaDomingoPeriodoVacacional))"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="edad">{{fechaFormateada(pascuaRes.fechaDomingoPeriodoVacacional)}}</span>
                  </button>
                </p>

              </div>

            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>


  </div>

</div>

