.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  padding: 0 8px;
  box-sizing: border-box;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  padding-right: 16px;
}

.sidenav-scroll-wrapper {
  height: calc(100dvh - 64px - 16px);
  overflow: auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.sidenav-content {
  max-height: 100%;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}

@media (max-width: 959.98px) {
  mat-sidenav-content {
    padding-right: 8px;
    padding-left: 8px;
  }
  .sidenav-scroll-wrapper {
    height: calc(100dvh - 64px);
  }
  .sidenav-content {
    overflow-y: visible;
    padding: 8px;
  }
}




//Buscamos que el icono de cada opción de menú, se gire 45 grados cuando estemos
//situados en la opcion correspondiente
// -iconmenu: clase para asociar a todas las opciones con una transición de 0.5s al icono. necesario fijar el tiempo
//    o lo haria inmeditamente y queda tosco.
// -rotado: clase adicional a iconmenu solo para el icono de la opción actual que lo va a rotar 45º
.iconmenu {
  transition: all .5s;
}

.iconmenu.rotado {
  transform: rotate(45deg);
}

//resaltarMenu: buscamos que el texto del menú se haga mas grande al pasar el raton
.resaltarMenu{
  transition: font-size 0.8s;
}

.resaltarMenu:hover {
  font-size: 1.3em;
}
