<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav fondoMenu"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="fondoMenu textoMenu">{{ 'generadores.jpromocion.menu.titulo' | translate }}</mat-toolbar>
    <mat-nav-list class="flip-in-hor-bottom">
      @for (item of rootRoutes; track $index) {
      <a
        mat-list-item
        [routerLink]="item.path"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
        class="{{ getMenuSeleClass(item.path ?? '') }}"
      >
        <!--NOTA: fijamos la clase tambien con una funcion, dado que buscamos rotar el icono solo del menu seleccionado
          cambiado la clase asociada
        -->
        <div class="textoMenu resaltarMenu" style="display: flex; align-items: center;">
          <mat-icon class="{{ getIconClass(item.path ?? '') }}">{{ getIconoRuta(item.path ?? '')}}</mat-icon>
          <!--
            Ver en app.routes.ts porque modificamos esto
            <span  style="margin-left: 2px;">{{ (item.title ? item.title.toString() : '') | translate }}</span>
          -->
          <span  style="margin-left: 2px;">{{ (item.data?.['title']?.toString() ?? '') | translate }}</span>
        </div>
      </a>
      }
      <div style="width: 95%; margin-top: 20px;">
        <app-comprame-cafe ></app-comprame-cafe>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <!--Este if sirve para que el boton del menu solo se muestre en pantalla pequeña...
        Sinceramente, prefiero que este siempre, y lo muestres o ocultes si quieres tambien
        en una pantalla grande -> me mola mas
      -->
      <!-- @if (isHandset$ | async) { -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon class="textoMenu" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--}-->
      <span class="divTituloIdioma">
        <!-- Finalmente dejamos el titulo neutro
        <h1>{{ 'generadores.jpromocion.titulo' | translate }}
        <a href="https://github.com/jpromocion/" target="_blank">jpromocion</a>
        -->
        <!--style="overflow-wrap: break-word; word-break: break-word;white-space: pre-wrap"-->
        <h1>{{ (isHandset$ | async) ? ('generadores.jpromocion.titulocorto' | translate) : ('generadores.jpromocion.titulocompleto' | translate) }}
        </h1>
        <span style="display: flex;flex-direction: row; gap: 10px;">
          <img src="/bandera_es.png" class="{{ getBanderaClass('es') }}" style="height: 25px; width: 25px;" alt="es" (click)="cambiarIdioma('es')">
          <img src="/bandera_us.png" class="{{ getBanderaClass('en') }}" style="height: 25px; width: 25px;" alt="en" (click)="cambiarIdioma('en')">
        </span>
      </span>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
