<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list class="flip-in-hor-bottom">
      @for (item of rootRoutes; track $index) {
      <a
        mat-list-item
        [routerLink]="item.path"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        <!--NOTA: fijamos la clase tambien con una funcion, dado que buscamos rotar el icono solo del menu seleccionado
          cambiado la clase asociada
        -->
        <div style="display: flex; align-items: center;">
          <mat-icon class="{{ getIconClass(item.path ?? '') }}">{{ getIconoRuta(item.path ?? '')}}</mat-icon>
          <span class="resaltarMenu" style="margin-left: 2px;">{{ item.title }}</span>
        </div>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>
        <h1>{{title}}
        <a href="https://github.com/jpromocion/" target="_blank">jpromocion</a>
        </h1>
      </span>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
