<div *ngIf="messageService.messages.length">

  <h2>Bandeja de mensajes</h2>
  <div *ngFor='let message of messageService.messages'>
    <div class="alert-primary"  *ngIf="message.tipo=='info'">
      {{message.mensaje}}
    </div>
    <div class="alert-warning"  *ngIf="message.tipo=='warning'">
      {{message.mensaje}}
    </div>
    <div class="alert-danger"  *ngIf="message.tipo=='error'">
      {{message.mensaje}}
    </div>
    <div class="alert-success"  *ngIf="message.tipo=='ok'">
      {{message.mensaje}}
    </div>
    <!-- COmentado lo del bootstrap-->
    <!--
    <div class="alert alert-primary"  role="alert" *ngIf="message.tipo=='info'">
      {{message.mensaje}}
    </div>
    <div class="alert alert-warning"  role="alert" *ngIf="message.tipo=='warning'">
      {{message.mensaje}}
    </div>
    <div class="alert alert-danger"  role="alert" *ngIf="message.tipo=='error'">
      {{message.mensaje}}
    </div>
    <div class="alert alert-success"  role="alert" *ngIf="message.tipo=='ok'">
      {{message.mensaje}}
    </div>
    -->
  </div>
  <button mat-stroked-button type="button" (click)="limpiarMensajes()" style="margin-top: 5px;margin-bottom: 10px;">Limpiar mensajes</button>

</div>