@use '@angular/material' as mat;
@include mat.core();

//tema fijado en variable para recuperar cosas
$theme: mat.define-theme();

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body, app-root, .app-frame {
  overflow: auto; /* no valida hidden... cuando las listas de nif eran gigants... las oculta */
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}


.panelFluidoSegundoNivel {
  padding-left: 1%;
  padding-right: 1%;
}

h1 {
  color: #eedee7;
  font-size: 2em;
  //text-align: center;
  //margin-top: 20px;
  //margin-bottom: 20px;
  //text-transform: uppercase;
  //letter-spacing: 2px;
}

h2 {
  color: #eedee7;
  font-size: 1.5em;
}

h3 {
  color: #eedee7;
  font-size: 1em;
}


/* Montar para angular material nuestras div basicas para separarlo todo en filas/columnas */
.divColumna {
  float: left;
  width: 50%;
}
.divFila:after {
  content: "";
  display: table;
  clear: both;
}

/* Asegurar componentes dentro se muestren horizontalmente seguidos */
.divBox {
  display: flex;
  align-items: flex-start;
}

.divBoxBottom {
  display: flex;
  align-items: flex-end;
}

.divBoxMedio {
  display: flex;
  align-items: center;
}




/* FDunciona mucho mejor para forzar mopstrar horizontalmente pero dejando al tamaño de pantalla
 * el ponerlos en vertical si no caben
 */
.divHorizontal {
  display:inline;
}

/* Ademas de forzar horizontalmente como antes, se asegura que los elementos dentro no se separen verticalmente al cambiar el tamaño pantalla */
.divHorizontalBloque {
  display:inline;
  display: inline-block;
}

.margenElementoLinea{
  margin-left: 10px;
  margin-top: 5px;
}


/** Div flexible */
.wrap {
  display: flex;
  flex-wrap: wrap;
}

/* Nos creamos la clase que pinta botones invalidos */
.btn-danger {
  background-color:  #D63384;
  border-color: #EFADCE;
  color: #EFADCE;
  height: 55px;
  border-radius: 12px;
}

.btn-danger:hover {
  background-color: #801F4F;
  color: #EFADCE;
}

/* Nos creamos la clase que pinta botones validos */
.btn-success {
  background-color:  #20C997;
  border-color: #D2F4EA;
  color: #D2F4EA;
  height: 55px;
  border-radius: 12px;
}

.btn-success:hover {
  background-color: #13795B;
  color: #D2F4EA;
}



/** El color de los enlaces es horrible en azul */
a {
  color: #C29FFA;
}

/* Al no estar bootstrap definimos los calores de los mensajers de la barra de mensajes de forma particular */
.alert-primary{
  color: #C29FFA;
}

.alert-primary{
  color: #C29FFA;
}
.alert-warning{
  color: yellow;
}
.alert-danger{
  color: red;
}
.alert-success{
  color: #8540F5
}

/* Forma de forzar a que en el grid los componentes por defecto vayan verticalmente
https://stackoverflow.com/questions/46968990/angular-material-vertically-arranging-contents-in-a-mat-grid-tile
-NOTA: para evitar aplicar a todops, asignamos por clase adicional "grid-justifica-comienzo" que asignamos al grud
    flex-direction: column; -> lo ponee en column el contenido, pero no justifica entonces
 */
.grid-justifica-comienzo .mat-grid-tile-content
{
    justify-content: flex-start;
}

.multiline-tooltip{
  white-space: pre-line;
}


/** hacer el mat-table de angular responsive con scrollbar inferior
 * https://stackoverflow.com/questions/75083751/angular-material-table-horizontal-scroll
 *
*/
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
mat-table {
 width: 1200px;
 max-width: 1200px;
 margin-bottom: 1rem;
 display: table;
 border-collapse: collapse;
 margin: 0px;
}
mat-row,
mat-header-row {
  display: table-row;
}
mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}


/**
 * Botones flat en tabla que queremos no se vean tan anchos
 */
.botonFlatReducido{
  height: max(36px, 100%) !important;
  margin-left: 5px !important;
  margin-top: 2px !important;
}

/*
* Botones flat en tabla de texto grande, que buscamos que se vea el textoc ompletamente dentro del boton
*/
.botonFlatGrande{
  height: fit-content !important;
  margin-left: 5px !important;
  margin-top: 2px !important;
  border-radius: 15% !important;
}


/**
 * Los filtros de cabecera de las tablas , no pueden meterse en un mat-form-field, y no cogen el estilo
 * de colores de que tenemos para los input. Se lo ponemos
 */
.filtroCabeceraTabla{
  background-color: rgba(233, 224, 228, 0.38);
  color: #e9e0e4;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


//Clase a asociar a un botón angular matarial, donde queremos que el icono
//de dentro se ponga a rotar al situar el hover sobre el
// ".mat-mdc-fab:hover .mat-icon {": lo hariamos rotar para todos... perot tenemos botones en la aplicacion donde no
//  queremos esto (como los de la calculadora)
.botonRotatorio:hover .mat-icon {
  animation: rotate 5s linear infinite; //creamos la animación
}
//definimos la animacion de rotar 360 grados
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Centrar contenido
.seccionCentrada{
  justify-content: center;
  text-align: center;
}

//Mostrar un elemento desenfocando la imagen de fndo que tiene el elemento padre contenedor
.caja-desenfocada{
  backdrop-filter: blur(15px);
}


//Simula la transicion angular de "entradaLateralAnimation" definida en el base-genera.component.ts
//pero con CSS puro, en aquellos lugares donde no se puede utilizar ngIf, sino [hidden], el item
//no se quita del DOM como hace ngIf, sigue con la visibilidada cambiada, por ello aplicamos
//esta clase css en vez de la animación de angular.
// Referencia: https://stackoverflow.com/questions/65792976/make-a-transition-with-a-hidden-element
//Pero: si el emento al entrar es oculto... pasa que al entrar se ve la animacion quitandolo... mmmm
//not good
//NOTA: Finalmente esto era para las tablas de perfiles... y si funcionan *ngIf!!! no se porque se
//puso hidden... yo creo que estaria mal la comprnacion de los *ngIf y por eso pense que no funcionaba
//en su momento. De todas formas dejo esto aqui para saber de otra forma de transicionar por css
.entradaLateralAnimationCSS {
  transition: transform 1s, opacity 1s ease-in-out;
}
.entradaLateralAnimationCSS[hidden] {
  display: block;
  visibility: visible;
  transform: translateX(100%);
  opacity: 0;
}
.entradaLateralAnimationCSS:not([hidden]) {
  transform: translateX(0);
  opacity: 1;
}