@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

//tema fijado en variable para recuperar cosas
$theme: mat.define-theme();

//definir el color #810081 como una variable para utilizar
$color-lila-base-menu: #810081;
$color-lila-activo-menu: #8e118d;
$color-lila-texto-menu: #ffabf3;


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body, app-root, .app-frame {
  overflow: auto; /* no valida hidden... cuando las listas de nif eran gigants... las oculta */
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}


.panelFluidoSegundoNivel {
  padding-left: 1%;
  padding-right: 1%;
}

h1 {
  color: $color-lila-texto-menu;
  font-size: 2em;
  //text-align: center;
  //margin-top: 20px;
  //margin-bottom: 20px;
  //text-transform: uppercase;
  //letter-spacing: 2px;
}

h2 {
  color: $color-lila-texto-menu;
  font-size: 1.5em;
}

h3 {
  color: $color-lila-texto-menu;
  font-size: 1em;
}


//Clases para colorear el menu lateral de un color mas chulo, como el app-nav que utiliza angular material
.fondoMenu{
  background: $color-lila-base-menu !important;
}
.textoMenu{
  color: $color-lila-texto-menu !important;
}
.opcionmenuactiva {
  background-color: $color-lila-activo-menu !important;
}


/* Montar para angular material nuestras div basicas para separarlo todo en filas/columnas */
.divColumna {
  float: left;
  width: 50%;
}
.divFila:after {
  content: "";
  display: table;
  clear: both;
}

/* Asegurar componentes dentro se muestren horizontalmente seguidos */
.divBox {
  display: flex;
  align-items: flex-start;
}

.divBoxBottom {
  display: flex;
  align-items: flex-end;
}

.divBoxMedio {
  display: flex;
  align-items: center;
}




/* FDunciona mucho mejor para forzar mopstrar horizontalmente pero dejando al tamaño de pantalla
 * el ponerlos en vertical si no caben
 */
.divHorizontal {
  display:inline;
}

/* Ademas de forzar horizontalmente como antes, se asegura que los elementos dentro no se separen verticalmente al cambiar el tamaño pantalla */
.divHorizontalBloque {
  display:inline;
  display: inline-block;
}

.margenElementoLinea{
  margin-left: 10px;
  margin-top: 5px;
}


/** Div flexible */
.wrap {
  display: flex;
  flex-wrap: wrap;
}

/* Nos creamos la clase que pinta botones invalidos */
.btn-danger {
  background-color:  #D63384;
  border-color: #EFADCE;
  color: #EFADCE;
  height: 55px;
  border-radius: 12px;
}

.btn-danger:hover {
  background-color: #801F4F;
  color: #EFADCE;
}

/* Nos creamos la clase que pinta botones validos */
.btn-success {
  background-color:  #20C997;
  border-color: #D2F4EA;
  color: #D2F4EA;
  height: 55px;
  border-radius: 12px;
}

.btn-success:hover {
  background-color: #13795B;
  color: #D2F4EA;
}



/** El color de los enlaces es horrible en azul */
a {
  color: $color-lila-texto-menu;
}

/* Al no estar bootstrap definimos los calores de los mensajers de la barra de mensajes de forma particular */
.alert-primary{
  color: #C29FFA;
}

.alert-primary{
  color: #C29FFA;
}
.alert-warning{
  color: yellow;
}
.alert-danger{
  color: red;
}
.alert-success{
  color: #8540F5
}

/* Forma de forzar a que en el grid los componentes por defecto vayan verticalmente
https://stackoverflow.com/questions/46968990/angular-material-vertically-arranging-contents-in-a-mat-grid-tile
-NOTA: para evitar aplicar a todops, asignamos por clase adicional "grid-justifica-comienzo" que asignamos al grud
    flex-direction: column; -> lo ponee en column el contenido, pero no justifica entonces
 */
.grid-justifica-comienzo .mat-grid-tile-content
{
    justify-content: flex-start;
}

.multiline-tooltip{
  white-space: pre-line;
}


/** hacer el mat-table de angular responsive con scrollbar inferior
 * https://stackoverflow.com/questions/75083751/angular-material-table-horizontal-scroll
 *
*/
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
mat-table {
 width: 1200px;
 max-width: 1200px;
 margin-bottom: 1rem;
 display: table;
 border-collapse: collapse;
 margin: 0px;
}
mat-row,
mat-header-row {
  display: table-row;
}
mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}


/**
 * Botones flat en tabla que queremos no se vean tan anchos
 */
.botonFlatReducido{
  height: max(36px, 100%) !important;
  margin-left: 5px !important;
  margin-top: 2px !important;
}

/*
* Botones flat en tabla de texto grande, que buscamos que se vea el textoc ompletamente dentro del boton
*/
.botonFlatGrande{
  height: fit-content !important;
  margin-left: 5px !important;
  margin-top: 2px !important;
  border-radius: 15% !important;
}


/**
 * Los filtros de cabecera de las tablas , no pueden meterse en un mat-form-field, y no cogen el estilo
 * de colores de que tenemos para los input. Se lo ponemos
 */
.filtroCabeceraTabla{
  background-color: rgba(233, 224, 228, 0.38);
  color: #e9e0e4;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


//Clase a asociar a un botón angular matarial, donde queremos que el icono
//de dentro se ponga a rotar al situar el hover sobre el
// ".mat-mdc-fab:hover .mat-icon {": lo hariamos rotar para todos... perot tenemos botones en la aplicacion donde no
//  queremos esto (como los de la calculadora)
.botonRotatorio:hover .mat-icon {
  animation: rotate 5s linear infinite; //creamos la animación
}
//definimos la animacion de rotar 360 grados
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Clase para asociar a un boton, donde queremois que el icono de dentro se ponga a
//moverse lateralmente de forma infinita
//NOTA: pensado para sustituir en un boton de desarcarga mientras se esta haciendo el proceso
.botonAparicionLateral .mat-icon {
  animation: slideInOut 3s linear infinite;
}

@keyframes slideInOut {
  0%, 100% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(90%);
    opacity: 1;
  }
}


//mat-mdc-button-base es la clase base de los botones de angular material.
//Vamos a hacer que mientras se pulsa un boton, siempre se vea encogido de tamaño
.mat-mdc-button-base{
  transition: all 0.2s ease;
}
.mat-mdc-button-base:active{
  transform: scale(0.9);
}



//Centrar contenido
.seccionCentrada{
  justify-content: center;
  text-align: center;
}

//Mostrar un elemento desenfocando la imagen de fndo que tiene el elemento padre contenedor
.caja-desenfocada{
  backdrop-filter: blur(15px);
}


//Simula la transicion angular de "entradaLateralAnimation" definida en el base-genera.component.ts
//pero con CSS puro, en aquellos lugares donde no se puede utilizar ngIf, sino [hidden], el item
//no se quita del DOM como hace ngIf, sigue con la visibilidada cambiada, por ello aplicamos
//esta clase css en vez de la animación de angular.
// Referencia: https://stackoverflow.com/questions/65792976/make-a-transition-with-a-hidden-element
//Pero: si el emento al entrar es oculto... pasa que al entrar se ve la animacion quitandolo... mmmm
//not good
//NOTA: Finalmente esto era para las tablas de perfiles... y si funcionan *ngIf!!! no se porque se
//puso hidden... yo creo que estaria mal la comprnacion de los *ngIf y por eso pense que no funcionaba
//en su momento. De todas formas dejo esto aqui para saber de otra forma de transicionar por css
.entradaLateralAnimationCSS {
  transition: transform 1s, opacity 1s ease-in-out;
}
.entradaLateralAnimationCSS[hidden] {
  display: block;
  visibility: visible;
  transform: translateX(100%);
  opacity: 0;
}
.entradaLateralAnimationCSS:not([hidden]) {
  transform: translateX(0);
  opacity: 1;
}


//mat-mdc-card: es la clase base de los card de angular material
//le vanmos a aplicar un sombreado suave a todos los card de la aplicacion
.mat-mdc-card{
  //#ffabf3
  box-shadow: 2px 2px 4px $color-lila-base-menu !important; //Si se quisiera tambien por arriba er izquierda, -10px -10px 20px yellow;
}

//Al titulo cabecera de las tarjetas le ponemos tambien el rosita
.mat-mdc-card-header{
  color: $color-lila-texto-menu;
}

//En angular material 19 la cabeceras han pasado a verse negras... cambiamos a blanco
.mat-sort-header-content{
  color: var(--mat-sidenav-content-text-color, var(--mat-sys-on-background));
}




// Vamos a configurar una burbuja para poner en momentos de espera con un panal overlay por delante
// que bloquee cualquier accion.... y en el centro una burbujita de colores todos monos
// https://www.youtube.com/shorts/3ivC5HHGZo0
// NOTA: en verdad solo lo utilizamos de ejemplo en Variados -> genrar telefono. Dado que aqui nos suscribimos
// a la espera de respuesta del servicio rest, para que actualice automaticamente los objetos en el DOM por debajo...
// y mientras poder seguir utilizando la pagina... ¿porq ibamos a querer una pantalla bloqueante de espoera?
.blub-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.blub {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  z-index: 9999;
}

.blub .blub-1, .blub-2, .blub-3{
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0, 0.5);
  opacity: 0.5;
  transform: scale(.8);
  animation: blub 1.5s ease-in-out infinite;
}


.blub .blub-1 {
  background: #7d69db;
  width: 150px;
  height: 150px;
}

.blub .blub-2{
  top: calc(15px);
  left: calc(15px);
  width: calc(120px);
  height: calc(120px);
  background: #4f34ce;
  animation-delay: 0.2s;
}

.blub .blub-3{
  top: calc(30px);
  left: calc(30px);
  width: calc(90px);
  height: calc(90px);
  background: #432bb3;
  animation-delay: 0.4s;
}

@keyframes blub {
  0% {
    opacity:  0.5;
    transform: scale(.8);
    box-shadow: 0 2px 2px rgba(0,0,0, 0.1);
  }
  75% {
    opacity:  1;
    transform: scale(1);
    box-shadow: 0 10px 15px rgba(0,0,0, 0.3);
  }
  100% {
    opacity:  0.5;
    transform: scale(.8);
    box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-11-14 12:37:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

//Aparecer rotando
.rotate-center {
	        animation: rotate-center 2s ease-in-out both;
}
@keyframes rotate-center {
  0% {
            transform: rotate(0);
  }
  100% {
            transform: rotate(360deg);
  }
}


//aparecer con un zoom del contenido hacia top y derecha
.kenburns-top-right {
	        animation: kenburns-top-right 3s ease-out both;
}
@keyframes kenburns-top-right {
  0% {
            transform: scale(1) translate(0, 0);
            transform-origin: 84% 16%;
  }
  100% {
            transform: scale(1.05) translate(10px, -8px);
            transform-origin: right top;
  }
}


//Texto apareciendo con una expansion
.tracking-in-expand {
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


//Caida de pelota a parte superior
.bounce-in-bottom {
	animation: bounce-in-bottom 1.5s both;
}
@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

//Aparienciendo con giro desde arriba
.flip-in-hor-bottom {
	animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

//apareciendo desde el centro
.slide-in-elliptic-top-fwd {
	animation: slide-in-elliptic-top-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

