<h2 class="tracking-in-expand">{{ 'generadores.jpromocion.menu.variados' | translate }}</h2>

<div class="panelFluidoSegundoNivel bounce-in-bottom">

  <div class="grid-layout">

    <div class="caja c0">
      <mat-form-field style="width: 250px !important;">
        <mat-label>{{ 'generadores.jpromocion.generarcomunes.numgeneraciones.label' | translate }}</mat-label>
        <input matInput id="numGenera" type="number"  min="2" max="1000" [(ngModel)]="numGenerar">
      </mat-form-field>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c1">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.generartipo' | translate }}</mat-card-header>
        <mat-card-content>
          <!-- Vamos a sustituir el tipico combo select, por un campo de autocompletado
          <mat-form-field style="width: 400px;margin-left: 5px;">
            <mat-label>Seleccionar tipo generación</mat-label>
            <mat-select [(ngModel)]="selectedTipoGenera">
              @for (tipo of tiposGenera; track tipo) {
                <mat-option [value]="tipo.valor">{{tipo.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          -->
          <!--
            Combo con autocompletado mat-autocomplete:
            -#selectedTipoGeneraIn para asociar el input directo a un ElementRef
            -formControl: es la forma en que asocairemos el valor seleccionado a un item tipo FormControl. Sustituye al ngModel, que esta deprecated en un form control.
              OJO: aqui lleva el objeto entero seleccionado, no solo el codigo.
            -input, focus -> filterTiposGenera -> el metodo encargado de filtrar la lista de opciones cuando se va rellenando algo. Utiliza el valor provisional rellenado recuperando de #selectedTipoGeneraIn
            -requireSelection: es lo que hace que sino se selecciona una opcion, se borre el campo rellenado y se deja a nulo la seleccion.
            -displayWith -> displayTiposGenera -> https://medium.com/@nirmalkumarsahoo/mat-auto-complete-handle-object-b2132da7e4c8
              Tenemos en cuenta este enlace para este caso donde la lista de objetos no es un string simple, sino un
              objeto compuesto, y por eso necesita este metodo para decirle que del objeto seleccionado "selectedTipoGeneraFC" solo debera mostrar
              aqui el campo "nombre" y no el objeto en si.
            -por lo demas el for es el mismo que en el select pero:
              -recorremos relamente tiposGeneraFiltrado en vez de tiposGenera, que es donde iremos filtrando segun rellene el usuario
              -donde al value le asignamos el objeto entero tipo, no solo el valor.
          -->
          <form>
            <mat-form-field style="min-width: 250px;;width: 80%;margin-left: 5px;">
              <mat-label>{{ 'generadores.jpromocion.variados.entrada.tipogenera.label' | translate }}</mat-label>
              <input #selectedTipoGeneraIn matInput type="text"
                placeholder="{{ 'generadores.jpromocion.variados.entrada.tipogenera.placeholder' | translate }}"
                [matAutocomplete]="auto"
                [formControl]="selectedTipoGeneraFC"
                (input)="filterTiposGenera()"
                (focus)="filterTiposGenera()">
              <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayTiposGenera">
                @for (tipo of tiposGeneraFiltrado; track tipo) {
                  <mat-option [value]="tipo">{{tipo.nombre}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarTipo()"
            attr.aria-label="{{ 'generadores.jpromocion.variados.boton.generartipo.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarTipo()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="textoGenerado?.length && textoGenerado.length > 0"
            style="margin-left: 5px;" (click)="exportJsonTipos()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="textoGenerado?.length && textoGenerado.length > 0">
            @for (texto of textoGenerado; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="tipo">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c2">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.generartelefono' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: auto;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.tipotelefono.label' | translate }}</mat-label>
            <mat-select [(ngModel)]="selectedTipoTelefono" placeholder="{{ 'generadores.jpromocion.variados.entrada.tipotelefono.placeholder' | translate }}">
              @for (tipo of tiposTelefono; track tipo) {
                <mat-option [value]="tipo.valor">{{tipo.nombre | translate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarTelefono()"
            attr.aria-label="{{ 'generadores.jpromocion.variados.boton.generartelefono.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="tlfGenerado?.length && tlfGenerado.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarTelefono()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="tlfGenerado?.length && tlfGenerado.length > 0"
            style="margin-left: 5px;" (click)="exportJsonTelefono()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="tlfGenerado?.length && tlfGenerado.length > 0">
            @for (texto of tlfGenerado; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="telefono">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c3">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.generarpasswords' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 250px !important;">
            <mat-label>Longitud</mat-label>
            <input matInput id="passLongitud" type="number"  min="15" max="100" placeholder="Longitud total" [(ngModel)]="passLongitud">
            <mat-icon matSuffix matTooltip="Longitud del password. Minimo 15.">help</mat-icon>
          </mat-form-field>

          <mat-checkbox [(ngModel)]="passMayusMinus">{{ 'generadores.jpromocion.variados.entrada.passmayus.label' | translate }}</mat-checkbox>

          <mat-checkbox [(ngModel)]="passNumero">{{ 'generadores.jpromocion.variados.entrada.passnumeros.label' | translate }}</mat-checkbox>

          <mat-checkbox [(ngModel)]="passEspecial">{{ 'generadores.jpromocion.variados.entrada.passespecial.label' | translate }}</mat-checkbox>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarPassword()"
            attr.aria-label="{{ 'generadores.jpromocion.variados.boton.generarpasswords.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="passGenerado?.length && passGenerado.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarPassword()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="passGenerado?.length && passGenerado.length > 0"
            style="margin-left: 5px;" (click)="exportJsonPassword()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="passGenerado?.length && passGenerado.length > 0">
            @for (texto of passGenerado; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="nif">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c4">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.generarcodipromo' | translate }}</mat-card-header>
        <mat-card-content>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.promolongi.label' | translate }}</mat-label>
            <input matInput id="promoLongitud" type="number"  min="1" max="1000" placeholder="Longitud" [(ngModel)]="promoLongitud">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.variados.entrada.promolongi.tooltip' | translate }}">help</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.promocarac.label' | translate }}</mat-label>
            <input matInput id="promoCharset" type="text" maxlength="500" placeholder="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" [(ngModel)]="promoCharset">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.variados.entrada.promocarac.tooltip' | translate }}">help</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.promopatron.label' | translate }}</mat-label>
            <input matInput id="promoPatron" type="text" maxlength="500" placeholder="AA-AAAAA-AAA-AAAA" [(ngModel)]="promoPatron">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.variados.entrada.promopatron.tooltip' | translate }}">help</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.promoprefijo.label' | translate }}</mat-label>
            <input matInput id="promoPrefijo" type="text" maxlength="10" placeholder="prefix" [(ngModel)]="promoPrefijo">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.variados.entrada.promoprefijo.tooltip' | translate }}">help</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 250px !important;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.promosufijo.label' | translate }}</mat-label>
            <input matInput id="promoSufijo" type="text" maxlength="10" placeholder="sufix" [(ngModel)]="promoSufijo">
            <mat-icon matSuffix matTooltip="{{ 'generadores.jpromocion.variados.entrada.promosufijo.tooltip' | translate }}">help</mat-icon>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarPromocionales()"
            attr.aria-label="{{ 'generadores.jpromocion.variados.boton.generarcodipromo.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="promoGenerado?.length && promoGenerado.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarPromocionales()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="promoGenerado?.length && promoGenerado.length > 0"
            style="margin-left: 5px;" (click)="exportJsonPromocionales()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="promoGenerado?.length && promoGenerado.length > 0">
            @for (texto of promoGenerado; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="nif">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="grid-layout">
    <div class="caja c5">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.generarrefecatas' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 220px;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.tipocatas.label' | translate }}</mat-label>
            <mat-select [(ngModel)]="refCatasParamSelectedTipo" placeholder="{{ 'generadores.jpromocion.variados.entrada.tipocatas.placeholder' | translate }}">
              @for (tipo of tiposRefCatastrales; track tipo) {
                <mat-option [value]="tipo.valor">{{tipo.nombre | translate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarRefCatastral()"
            attr.aria-label="{{ 'generadores.jpromocion.variados.boton.generarrefecatas.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="refCatasGeneradas?.length && refCatasGeneradas.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarRefCatastral()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="refCatasGeneradas?.length && refCatasGeneradas.length > 0"
            style="margin-left: 5px;" (click)="exportJsonRefCatastral()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="refCatasGeneradas?.length && refCatasGeneradas.length > 0">
            @for (texto of refCatasGeneradas; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="catastral">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c6">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.validarrefecatas' | translate }}</mat-card-header>
        <mat-card-content>
          <div class="divBox">
            <mat-form-field style="width: 250px !important;">
              <mat-label>{{ 'generadores.jpromocion.variados.entrada.refecatas.label' | translate }}</mat-label>
              <input matInput id="refCatasValidar" type="text" placeholder="31044Z932050006628FU" [(ngModel)]="refCatasValidar"
                style="text-transform:uppercase" maxlength="20">
            </mat-form-field>
            <button type="button" mat-fab class="botonRotatorio" (click)="onClickValidaRefCatastral()"
              attr.aria-label="{{ 'generadores.jpromocion.variados.boton.validarrefecatas.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validar.tooltip' | translate }}" matTooltipPosition="below" style="margin-left: 5px;">
              <mat-icon>search_check</mat-icon>
            </button>
            <div style="margin-left: 5px;">
              <button type="button" class="btn-success" [@encogimientoAnimation] *ngIf="refCatasValidarOk == 'OK'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadook.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameSiInternacionalizado())">
                <mat-icon>done_all</mat-icon>
              </button>
              <button type="button" class="btn-danger" [@encogimientoAnimation] *ngIf="refCatasValidarOk == 'ERROR'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadoko.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameNoInternacionalizado())">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c7">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.generarcups' | translate }}</mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 220px;margin-left: 5px;">
            <mat-label>{{ 'generadores.jpromocion.variados.entrada.tipocups.label' | translate }}</mat-label>
            <mat-select [(ngModel)]="cupsParamSelectedTipo" placeholder="{{ 'generadores.jpromocion.variados.entrada.tipocups.placeholder' | translate }}">
              @for (tipo of tiposCups; track tipo) {
                <mat-option [value]="tipo.valor">{{tipo.nombre | translate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button type="button" mat-fab class="botonRotatorio" style="margin-left: 5px;" (click)="onClickBotonGenerarCups()"
            attr.aria-label="{{ 'generadores.jpromocion.variados.boton.generarcups.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.generar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>refresh</mat-icon>
          </button>

          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="cupsGeneradas?.length && cupsGeneradas.length > 0"
            style="margin-left: 5px;" (click)="onClickLimpiarCups()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.limpiar.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-fab class="botonRotatorio" [@encogimientoAnimation] *ngIf="cupsGeneradas?.length && cupsGeneradas.length > 0"
            style="margin-left: 5px;"  (click)="exportJsonCups()"
            attr.aria-label="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.label' | translate }}"
            matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.exportarexcel.tooltip' | translate }}" matTooltipPosition="below">
            <mat-icon>description</mat-icon>
          </button>

          <mat-list [@entradaLateralAnimation] *ngIf="cupsGeneradas?.length && cupsGeneradas.length > 0">
            @for (texto of cupsGeneradas; track texto) {
              <mat-list-item>
                <div style="margin-top: 2%; margin-bottom: 2%;">
                  <button mat-flat-button type="button" (click)="onSelectDato(texto)"
                  matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.copiar.tooltip' | translate }}" matTooltipPosition="below">
                    <span class="cups">{{texto}}</span>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            }
          </mat-list>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c8">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.validarcups' | translate }}</mat-card-header>
        <mat-card-content>
          <div class="divBox">
            <mat-form-field style="width: 250px !important;">
              <mat-label>{{ 'generadores.jpromocion.variados.entrada.cups.label' | translate }}</mat-label>
              <input matInput id="cupsValidar" type="text" placeholder="ES0223678468476634WK" [(ngModel)]="cupsValidar"
                style="text-transform:uppercase" maxlength="22">
            </mat-form-field>
            <button type="button" mat-fab class="botonRotatorio" (click)="onClickValidaCups()"
              attr.aria-label="{{ 'generadores.jpromocion.variados.boton.validarcups.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validar.tooltip' | translate }}" matTooltipPosition="below" style="margin-left: 5px;">
              <mat-icon>search_check</mat-icon>
            </button>
            <div style="margin-left: 5px;">
              <button type="button" class="btn-success" [@encogimientoAnimation] *ngIf="cupsValidarOk == 'OK'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadook.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameSiInternacionalizado())">
                <mat-icon>done_all</mat-icon>
              </button>
              <button type="button" class="btn-danger" [@encogimientoAnimation] *ngIf="cupsValidarOk == 'ERROR'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadoko.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameNoInternacionalizado())">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c9">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.validarlei' | translate }}</mat-card-header>
        <mat-card-content>
          <div class="divBox">
            <mat-form-field style="width: 250px !important;">
              <mat-label>{{ 'generadores.jpromocion.variados.entrada.lei.label' | translate }}</mat-label>
              <input matInput id="leiValidar" type="text" placeholder="9598009DZMHWCT7D0W77" [(ngModel)]="leiValidar"
                style="text-transform:uppercase" maxlength="20">
            </mat-form-field>
            <button type="button" mat-fab class="botonRotatorio" (click)="onClickValidaLei()"
              attr.aria-label="{{ 'generadores.jpromocion.variados.boton.validarlei.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validar.tooltip' | translate }}" matTooltipPosition="below" style="margin-left: 5px;">
              <mat-icon>search_check</mat-icon>
            </button>
            <div style="margin-left: 5px;">
              <button type="button" class="btn-success" [@encogimientoAnimation] *ngIf="leiValidarOk == 'OK'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadook.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameSiInternacionalizado())">
                <mat-icon>done_all</mat-icon>
              </button>
              <button type="button" class="btn-danger" [@encogimientoAnimation] *ngIf="leiValidarOk == 'ERROR'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadoko.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameNoInternacionalizado())">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="caja c10">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.validarisin' | translate }}</mat-card-header>
        <mat-card-content>
          <div class="divBox">
            <mat-form-field style="width: 250px !important;">
              <mat-label>{{ 'generadores.jpromocion.variados.entrada.isin.label' | translate }}</mat-label>
              <input matInput id="isinValidar" type="text" placeholder="ES055XBM8IE4" [(ngModel)]="isinValidar"
                style="text-transform:uppercase" maxlength="12">
            </mat-form-field>
            <button type="button" mat-fab class="botonRotatorio" (click)="onClickValidaIsin()"
              attr.aria-label="{{ 'generadores.jpromocion.variados.boton.validarisin.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validar.tooltip' | translate }}" matTooltipPosition="below" style="margin-left: 5px;">
              <mat-icon>search_check</mat-icon>
            </button>
            <div style="margin-left: 5px;">
              <button type="button" class="btn-success" [@encogimientoAnimation] *ngIf="isinValidarOk == 'OK'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadook.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameSiInternacionalizado())">
                <mat-icon>done_all</mat-icon>
              </button>
              <button type="button" class="btn-danger" [@encogimientoAnimation] *ngIf="isinValidarOk == 'ERROR'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadoko.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameNoInternacionalizado())">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="caja c11">
      <mat-card appearance="outlined">
        <mat-card-header>{{ 'generadores.jpromocion.variados.frame.validarnss' | translate }}</mat-card-header>
        <mat-card-content>
          <div class="divBox">
            <mat-form-field style="width: 250px !important;">
              <mat-label>{{ 'generadores.jpromocion.variados.entrada.nss.label' | translate }}</mat-label>
              <input matInput id="nssValidar" type="text" placeholder="047063802539" [(ngModel)]="nssValidar"
                style="text-transform:uppercase" maxlength="12">
            </mat-form-field>
            <button type="button" mat-fab class="botonRotatorio" (click)="onClickValidaNss()"
              attr.aria-label="{{ 'generadores.jpromocion.variados.boton.validarnss.label' | translate }}"
              matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validar.tooltip' | translate }}" matTooltipPosition="below" style="margin-left: 5px;">
              <mat-icon>search_check</mat-icon>
            </button>
            <div style="margin-left: 5px;">
              <button type="button" class="btn-success" [@encogimientoAnimation] *ngIf="nssValidarOk == 'OK'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadook.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameSiInternacionalizado())">
                <mat-icon>done_all</mat-icon>
              </button>
              <button type="button" class="btn-danger" [@encogimientoAnimation] *ngIf="nssValidarOk == 'ERROR'"
                matTooltip="{{ 'generadores.jpromocion.generarcomunes.boton.validadoko.tooltip' | translate }}" matTooltipPosition="below"
                (click)="onSelectDato(dameNoInternacionalizado())">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
